{
	"openapi": "3.0.0",
	"info": {
		"title": "Search: Criteria",
		"description": "Locates possible entities from the Dun & Bradstreet Data Cloud using specified criteria when there is not enough known data for a Match, allowing a maximum of 1000 results.\n\nData Coverage: Global\nNote: This API is available as part of \"Company Entity Resolution\" Non Standard Data Blocks.",
		"version": "v1"
	},
	"servers": [
		{
			"url": "https://plus.dnb.com",
			"description": "Production endpoint"
		}
	],
	"paths": {
		"/v1/search/criteria": {
			"description": "Locates possible entities from the Dun & Bradstreet Data Cloud using specified criteria when there is not enough known data for a Match, allowing a maximum of 1000 results.\n\nData Coverage: Global\nNote: This API is available as part of \"Company Entity Resolution\" Non Standard Data Blocks.",
			"x-DNB-ID": "searchCriteria",
			"x-DNB-Name": "Search: Criteria",
			"post": {
				"description": "Locates possible entities from the Dun & Bradstreet Data Cloud using specified criteria when there is not enough known data for a Match, allowing a maximum of 1000 results.\n\nData Coverage: Global\nNote: This API is available as part of \"Company Entity Resolution\" Non Standard Data Blocks.",
				"summary": "Search: Criteria",
				"operationId": "searchCriteria",
				"x-monitoring": "Not Available.",
				"x-monitoring-pdf": "Not Available.",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "header",
						"required": true,
						"description": "The content type must be \"application/json\".",
						"example": "application/json",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"searchTerm": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 60,
										"example": "name to search",
										"description": "2 to 60 characters used to find entities by their primary or tradestyle names or D-U-N-S, Former primary names (last 5) or stockTicker.    <br/>   <br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"countryISOAlpha2Code": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 2,
										"example": "US",
										"description": "The 2-letter country/market code defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the entity."
									},
									"duns": {
										"type": "string",
										"nullable": true,
										"maxLength": 9,
										"example": "804735132",
										"description": "A 9-character numeric string identifying the entity by its Dun & Bradstreet D-U-N-S number.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"dunsList": {
										"type": "array",
										"nullable": true,
										"description": "A list of 9-character numeric string identifying the entity by its Dun & Bradstreet D-U-N-S number.<br/><br/>This array may contain up to 10 values separated by a comma.<br/><br/>Note: Either duns OR dunsList may be included.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request.",
										"items": {
											"type": "string",
											"nullable": true,
											"maxLength": 9,
											"example": [
												"804735132"
											]
										}
									},
									"isOutOfBusiness": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Limits the search to entities with an isOutOfBusiness flag set to the specified value.<br/><br/>* true = the entity is no longer functional or trading.<br/>* false = the entity is actively functional or trading."
									},
									"isMarketable": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Limits the search to entities with an isMarketable flag set to the specified value.<br/><br/>* true = the data on the entity satisfies Dun & Bradstreet's marketability rules for Sales & Marketing Solutions products.<br/>* false = the data on the entity does not satisfies Dun & Bradstreet's marketability rules."
									},
									"isMailUndeliverable": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Limits the search to entities with an isMailDeliverable flag set to the specified value.<br/><br/>* true = mail cannot be delivered to the address.<br/>* false = mail can be delivered to the address."
									},
									"usSicV4": {
										"type": "array",
										"nullable": true,
										"description": "The 1987 version of a 4-digit numeric coding system developed by the US Government for the classification of industrial activities to denote the industry in which the business entity does most of its business.  <br/> <br/>This array may contain up to 50 strings of 4 characters each.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request.",
										"items": {
											"type": "string",
											"nullable": true,
											"maxLength": 4,
											"example": [
												"5461"
											]
										}
									},
									"yearlyRevenue": {
										"type": "object",
										"nullable": true,
										"properties": {
											"minimumValue": {
												"type": "integer",
												"nullable": true,
												"example": 1000000,
												"description": "The minimum amount of yearly revenue (the monetary value of income received from customers from the sale of the business' goods and/or services) used to limit the search.<br/><br/>Valid value: 1 to 100000000000000<br/><br/>If maximum value is not also specified, the search results include entities with yearly revenue values that are greater than or equal to the maximum value."
											},
											"maximumValue": {
												"type": "integer",
												"nullable": true,
												"example": 10000000,
												"description": "The maximum amount of yearly revenue (the monetary value of income received from customers from the sale of the business' goods and/or services) used to limit the search<br/><br/>Valid value: 1 to 100000000000000<br/><br/>If minimum value is not also specified, the search results include entities with yearly revenue values that are less than or equal to the minimum value."
											}
										},
										"additionalProperties": false,
										"description": "The details of the revenue range to be used to limit the search results."
									},
									"isTelephoneDisconnected": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Limits the search to entities with an isTelephoneDisconnected flag set to the specified value.<br/><br/>* true = the entity cannot be successfully reached by the telephone number.<br/>* false = the entity can be successfully reached by the telephone number."
									},
									"telephoneNumber": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 20,
										"example": "555555555",
										"description": "2 to 20 characters of the telephone number for the entity.  This string search uses a partial match from the beginning of the string meaning that you can use this parameter to search by phone numbers beginning with a min of 2 characters. This enables users to search using an area code.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"domain": {
										"type": "string",
										"nullable": true,
										"minLength": 4,
										"maxLength": 216,
										"example": "dnb.com",
										"description": "4 to 216 characters used to find entities by their domain names.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"registrationNumbers": {
										"type": "array",
										"nullable": true,
										"description": "The number assigned by an external body or by Dun & Bradstreet that either uniquely identifies or helps to identify an organization.<br/><br/>This array may contain up to 50 values of 1-30 characters each.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request.",
										"items": {
											"type": "string",
											"nullable": true,
											"example": [
												"11514917000120"
											]
										}
									},
									"businessEntityType": {
										"type": "array",
										"nullable": true,
										"description": "A list of codes, assigned by Dun & Bradstreet, to identify the legal form or structure of the entity as registered with government authorities.<br/><br/>This array may contain up to 50 strings of 1 to 5 characters each.",
										"items": {
											"type": "integer",
											"nullable": true,
											"example": [
												451
											]
										}
									},
									"addressLocality": {
										"type": "string",
										"nullable": true,
										"minLength": 1,
										"maxLength": 50,
										"example": "short hills",
										"description": "1 to 50 characters used to find entities by the name of the city, town, township, village, borough, etc. where the entity is located."
									},
									"addressCounty": {
										"type": "string",
										"nullable": true,
										"example": "Santa Clara County",
										"description": "Text recording the name of a county where the business is located."
									},
									"addressRegion": {
										"type": "string",
										"nullable": true,
										"minLength": 1,
										"maxLength": 50,
										"example": "New Jersey",
										"description": "1 to 50 characters used to find entities by the name or US State abbreviation of the locally governed area that forms part of a centrally governed nation to identify where the address is located.<br/><br/>Note: As a guiding principle this is a geographic area which could theoretically exist as a separate nation. In the U.S. this would be a State (full name). In the UK this would be one of the Home Nations."
									},
									"streetAddressLine1": {
										"type": "string",
										"nullable": true,
										"minLength": 3,
										"maxLength": 60,
										"example": "street address",
										"description": "3 to 60 characters of the first line of the entity's street address or the street name of the company's address.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"postalCode": {
										"type": "string",
										"nullable": true,
										"minLength": 1,
										"maxLength": 20,
										"example": "94536",
										"description": "1 to 20 characters used to find the entity by the postal code (an identifier used by the local country's postal authority to identify where the address is located)."
									},
									"postalCodesList": {
										"type": "array",
										"nullable": true,
										"description": "A list of identifiers used by the local country Postal Authority to identify where the business is located. The search result will return companies within the radius specified from the centorid of this post code.",
										"items": {
											"type": "string",
											"nullable": true,
											"example": [
												"94536"
											]
										}
									},
									"locationRadius": {
										"type": "object",
										"nullable": true,
										"properties": {
											"lat": {
												"type": "number",
												"nullable": true,
												"example": 40.7431319,
												"description": "The latitude to be used as the center of the radius search.<br/><br/>Only addresses with a street-centric latitude/longitude are included in search."
											},
											"lon": {
												"type": "number",
												"nullable": true,
												"example": -74.3620265,
												"description": "The longitude to be used as the center of the radius search.<br/><br/>Only addresses with a street-centric latitude/longitude are included in search."
											},
											"postalCode": {
												"type": "string",
												"nullable": true,
												"example": "94536",
												"description": "5 digits for the US postal code (an identifier used by the local country's postal authority to identify where the address is located) used as the center of the radius search.<br/><br/>Note: Currently, only 5-digit US postal codes can be used for location radius searches.<br/><br/>Either latitude/ longitude or postal code must be included."
											},
											"radius": {
												"type": "number",
												"nullable": true,
												"example": 5,
												"description": "The circle radius in the units specified to be considered along with the latitude and longitude to locate entities.<br/><br/>Maximum values:<br/>* 100mi<br/>* 160.9km<br/>* or equivalent for other units<br/><br/>Either latitude/ longitude or postal code must be included."
											},
											"unit": {
												"type": "string",
												"nullable": true,
												"enum": [
													"m",
													"km",
													"mi",
													"yd",
													"ft"
												],
												"example": "km",
												"description": "The unit of measure for the specified radius.<br/><br/>Valid values:<br/>* m = meters<br/>* km = kilometers<br/>* mi = miles<br/>* yd = yards<br/>* ft = feet"
											}
										},
										"additionalProperties": false,
										"description": "The details identifying the geographic coordinates to be used in the search.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"isManufacturingLocation": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When 'true' indicates that manufacturing activity is performed at this facility by the subject."
									},
									"primaryName": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 60,
										"example": "name search",
										"description": "2 to 60 characters to be used to find entities by the primary names.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"tradeStyleName": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 60,
										"example": "name to search",
										"description": "2 to 60 characters used to find entities by one of its tradestyle names.    <br/>   <br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"tickerSymbol": {
										"type": "string",
										"nullable": true,
										"minLength": 1,
										"maxLength": 6,
										"example": "dnb",
										"description": "1 to 6 characters that identifies the entity for share trading purposes at the primary Stock Exchange where the business entity does most of the trading.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request."
									},
									"isImporter": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When 'true' indicates that the subject imports goods, raw materials, products etc., from other countries."
									},
									"isExporter": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When 'true' indicates that the subject exports goods, raw materials, products etc., to other countries."
									},
									"familytreeRolesPlayed": {
										"type": "array",
										"nullable": true,
										"description": "A list of codes, assigned by Dun & Bradstreet, to identify the family tree roles the entity plays in the organization hierarchy.<br/><br/>Valid values:<br/>* 12775: Global Ultimate<br/>* 12774: Domestic Ultimate<br/>* 9141: Parent/Headquarters<br/>* 9140: Branch/Division<br/>* 9159: Subsidiary",
										"items": {
											"type": "integer",
											"nullable": true,
											"enum": [
												12775,
												12774,
												9141,
												9140,
												9159
											],
											"example": [
												12775
											]
										}
									},
									"globalUltimateFamilyTreeMembersCount": {
										"type": "object",
										"nullable": true,
										"properties": {
											"minimumValue": {
												"type": "integer",
												"nullable": true,
												"example": 100000,
												"description": "The minimum family tree members an entity can have and be included in the search results.<br/><br/>Values: 1 to 999999<br/><br/>If maximum value is not also specified, the search results include entities that are part of a family tree with greater than or equal to the minimum value number of entities."
											},
											"maximumValue": {
												"type": "integer",
												"nullable": true,
												"example": 10000,
												"description": "The maximum family tree members an entity can have and be included in the search results.<br/><br/>Values: 1 to 999999<br/><br/>If minimum value is not also specified, the search results include entities that are part of a family tree with less than or equal to the maximum value number of entities."
											}
										},
										"additionalProperties": false,
										"description": "The details of the family tree member count range to be used to limit the search."
									},
									"numberOfEmployees": {
										"type": "object",
										"nullable": true,
										"properties": {
											"informationScope": {
												"type": "integer",
												"nullable": true,
												"enum": [
													9066,
													9067
												],
												"example": 9066,
												"description": "A code that represents the scope the requested values are checked against.<br/><br/>Valid values:<br/>* 9066: Individual<br/>* 9067: Consolidated"
											},
											"minimumValue": {
												"type": "integer",
												"nullable": true,
												"example": 10000,
												"description": "The minimum number of employees an entity can have and be included in the search results.<br/><br/>Value : 1 to 999999<br/><br/>If maximum value is not also specified, the search results include entities with an employee count greater than or equal to the minimum value number of entities."
											},
											"maximumValue": {
												"type": "integer",
												"nullable": true,
												"example": 5000,
												"description": "The maximum number of employees an entity can have and be included in the search results.<br/><br/>Value : 1 to 999999<br/><br/>If minimum value is not also specified, the search results include entities with an employee count less than or equal to the maximum value number of entities."
											}
										},
										"additionalProperties": false,
										"description": "The details of the number of employees values to be used in the search."
									},
									"pageSize": {
										"type": "integer",
										"nullable": true,
										"example": 2,
										"description": "The number of results to return in a single page.<br/><br/>Valid values: Integers from 1 to 50."
									},
									"pageNumber": {
										"type": "integer",
										"nullable": true,
										"example": 50,
										"description": "Search results can be paginated; this attribute specifies which page is to be returned.<br/><br/>The maximum value depends on pageSize. A maximum of 1000 results can be returned. So, for example, if pageSize is 10, the maximum pageNumber is 100; if pageSize is 50, the maximum pageNumber is 20."
									},
									"returnNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return Navigators<br/>* false: do not return Navigators (default)<br/><br/>Note: This parameter is deprecated, please use specific navigators."
									},
									"industryCodes": {
										"type": "array",
										"nullable": true,
										"description": "The details of the industry codes to be used to limit the search.<br/><br/>This is a Standalone parameter; at least one Standalone parameter must be included in the request.",
										"items": {
											"type": "object",
											"nullable": true,
											"properties": {
												"code": {
													"type": "array",
													"nullable": true,
													"description": "A list of alphanumeric codes identifying a business activity.<br/><br/>Either a list of codes OR a list of descriptions may be included.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"42362"
														]
													}
												},
												"description": {
													"type": "array",
													"nullable": true,
													"description": "A list of strings used to search by the industry code description.<br/><br/>Either a list of codes OR a list of descriptions may be included.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"Commercial Printing (except Screen and Books)"
														]
													}
												},
												"typeDnbCode": {
													"type": "integer",
													"nullable": true,
													"enum": [
														35912,
														25838,
														19295,
														3599,
														700
													],
													"example": 24664,
													"description": "A unique code assigned by Dun & Bradstreet to identify the industry coding scheme for this Industry Code.<br/><br/>Valid values:<br/>* 35912: D&B Hoovers Industry Classification<br/>* 25838: D&B Hoovers Industry Code (Deprecated)<br/>* 19295: UK Standard Industry Code 2007<br/>* 3599: US SIC 8 digit<br/>* 700: NAICS (use this to include all versions of NAICS)"
												}
											},
											"additionalProperties": false
										}
									},
									"isPubliclyTradedCompany": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When set to 'True' it indicates that the organization offers its securities to general public, typically through a stock exchange.<br/>When set to 'False' it indicates that the organization does not offer its securities to general public."
									},
									"isMinorityOwned": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When 'true' indicates that this organization is certified as a business that is greater than 50% owned by and whose management and daily business operations are controlled by one or more minority group members."
									},
									"isFemaleOwned": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When 'true', it indicates that this organization is certified as a business that is greater than 50% owned by, and whose management and daily business operations are controlled by, one or more female persons.<br/>When 'false', it indicates that this organization is not certified as a business that is greater than 50% owned by, and whose management and daily business operations are controlled by, one or more female persons."
									},
									"isStandalone": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When set to \"true\" it indicates that this organization is not a member of a legal family tree. This means it cannot play the role of a subsidiary, parent, headquarters or branch; i.e., Family Tree Member Role cannot be present.<br/>When set to \"false\" it indicates that this organization is a member of a legal family tree. In this condition the Family Tree Member Role must be present."
									},
									"isFortune1000Listed": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When set to \"true\" it indicates that the business entity has ever been listed as one of the 1000 largest American companies, ranked on revenues alone by the American business magazine Fortune.<br/>When set to \"false\" it indicates that the business entity has not been listed as one of the 1000 largest American companies, ranked on revenues alone by the American business magazine Fortune."
									},
									"sort": {
										"type": "array",
										"nullable": true,
										"description": "This aggregate is used to specify the ordereing of records in the API response.",
										"items": {
											"type": "object",
											"nullable": true,
											"properties": {
												"item": {
													"type": "string",
													"nullable": true,
													"enum": [
														"numberOfEmployees",
														"countryISOAlpha2Code",
														"primaryName",
														"isOutOfBusiness",
														"isBranch",
														"yearlyRevenue",
														""
													],
													"example": "countryISOAlpha2Code",
													"description": "The property by which the response is to be sorted.<br/><br/>Valid values:<br/>* numberOfEmployees<br/>* countryISOAlpha2Code<br/>* primaryName<br/>* isOutOfBusiness<br/>* isBranch<br/>* yearlyRevenue"
												},
												"direction": {
													"type": "string",
													"nullable": true,
													"enum": [
														"ascending",
														"descending"
													],
													"example": "ascending",
													"description": "This determines the ordering direction in the response. Possible values:<br/>ascending<br/>descending"
												}
											},
											"additionalProperties": false
										}
									},
									"customerReference": {
										"type": "string",
										"nullable": true,
										"maxLength": 240,
										"example": "customer reference text",
										"description": "\tUp to 240 characters for a reference string to be linked to the request in order to support subsequent order reconciliation."
									},
									"globalUltimateCountryISOAlpha2Code": {
										"type": "string",
										"nullable": true,
										"minLength": 2,
										"maxLength": 2,
										"example": "US",
										"description": "The 2-letter country/market code defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the Global Ultimate country/market of the entity."
									},
									"returnYearlyRevenueNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if YearlyRevenue Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return YearlyRevenue Navigators<br/>* false: do not return YearlyRevenue Navigators (default)"
									},
									"returnNumberOfEmployeesNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if NumberOfEmployees Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return NumberOfEmployees Navigators<br/>* false: do not return NumberOfEmployees Navigators (default)"
									},
									"returnIndustryNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if Industry Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return Industry Navigators<br/>* false: do not return Industry Navigators (default)"
									},
									"returnBusinessEntityTypeNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if BusinessEntityType Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return BusinessEntityType Navigators<br/>* false: do not return BusinessEntityType Navigators (default)"
									},
									"returnFamilyTreeRoleNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if FamilyTreeRole Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return FamilyTreeRole Navigators<br/>* false: do not return FamilyTreeRole Navigators (default)"
									},
									"returnLocationNavigators": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "Indicates if Location Navigators should be returned in the search response; Navigators can be used in followup requests to narrow down the search results.<br/><br/>Valid values:<br/>* true: return Location Navigators<br/>* false: do not return Location Navigators (default)"
									},
									"locationNavigatorType": {
										"type": "string",
										"nullable": true,
										"enum": [
											"countryISOAlpha2Code",
											"addressRegion",
											"addressLocality"
										],
										"example": "countryISOAlpha2Code",
										"description": "Specifies the location type(s) to be used by the Location Navigator.<br/><br/>Valid values:<br/>* countryISOAlpha2Code (Navigators results upto country will be provided)<br/>* addressRegion (Navigators results upto region will be provided)<br/>* addressLocality (Navigators results upto locality will be provided)<br/><br/>If not specified, Navigators results upto country only will be provided.<br/><br/>Note: If addressRegion or addressLocality is specified as locationNavigatorType, then countryISOAlpha2Code is required in the request."
									},
									"maxNavigatorBuckets": {
										"type": "integer",
										"nullable": true,
										"example": 5,
										"description": "The maximum number of results to be returned for each specific Navigators.<br/><br/>Valid values: Integers from 1 to 200. <br/>If not specified, the default of 5 is used.<br/><br/>Note: This limit will be applied separately for each specific navigators provided in the request."
									},
									"includeSearchResults": {
										"type": "boolean",
										"nullable": true,
										"example": true,
										"description": "When set to \"true\" it indicates that searchCandidates should be returned along with Navigators in the response. (default)<br/><br/>When set to \"false\" it indicates that searchCandidates should not be returned, only Navigators to be returned in the response."
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"transactionDetail": {
											"type": "object",
											"nullable": true,
											"properties": {
												"transactionID": {
													"type": "string",
													"nullable": true,
													"example": "rlh-hi9puyoijk-jop8u-kd-d-1",
													"description": "A value assigned by the Dun & Bradstreet application to uniquely identify this request."
												},
												"transactionTimestamp": {
													"type": "string",
													"nullable": true,
													"example": "2017-02-21T17:46:19.839Z",
													"description": "The date and time, in ISO 8601 UTC Z standard, when this response was created."
												},
												"inLanguage": {
													"type": "string",
													"nullable": true,
													"example": "en-US",
													"description": "An IETF BCP 47 code value that defines the language in which this product was rendered."
												},
												"serviceVersion": {
													"type": "string",
													"nullable": true,
													"example": "1",
													"description": "The product version number provided in the request."
												}
											},
											"additionalProperties": true,
											"description": "The information used to process this request.",
											"required": [
												"transactionID",
												"transactionTimestamp",
												"inLanguage",
												"serviceVersion"
											]
										},
										"inquiryDetail": {
											"type": "object",
											"nullable": true,
											"properties": {
												"searchTerm": {
													"type": "string",
													"nullable": true,
													"example": "The DUN & BRADSTREET",
													"description": "The search term provided in the request."
												},
												"countryISOAlpha2Code": {
													"type": "string",
													"nullable": true,
													"example": "US",
													"description": "The country code provided in the request."
												},
												"duns": {
													"type": "string",
													"nullable": true,
													"example": "804735132",
													"description": "The D-U-N-S number provided in the request."
												},
												"dunsList": {
													"type": "array",
													"nullable": true,
													"description": "The list of D-U-N-S numbers provided in the request.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"804735132"
														]
													}
												},
												"isOutOfBusiness": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The out of business value provided in the request."
												},
												"isMarketable": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The marketable value provided in the request."
												},
												"isPubliclyTradedCompany": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "An indication of whether the organization offers its securities to general public or not."
												},
												"usSicV4": {
													"type": "array",
													"nullable": true,
													"description": "The usSicV4 values provided in the request.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"5461"
														]
													}
												},
												"yearlyRevenue": {
													"type": "object",
													"nullable": true,
													"properties": {
														"minimumValue": {
															"type": "integer",
															"nullable": true,
															"example": 100000000,
															"description": "The yearly revenue minimum value provided in the request."
														},
														"maximumValue": {
															"type": "integer",
															"nullable": true,
															"example": 5000000000,
															"description": "The yearly revenue maximum value provided in the request."
														}
													},
													"additionalProperties": true,
													"description": "The details of the yearly revenue provided in the request."
												},
												"isMailUndeliverable": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The is mail undeliverable value provided in the request."
												},
												"isTelephoneDisconnected": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The telephone disconnected value provided in the request."
												},
												"telephoneNumber": {
													"type": "string",
													"nullable": true,
													"example": "9739215500",
													"description": "The telephone number provided in the request."
												},
												"domain": {
													"type": "string",
													"nullable": true,
													"example": "dnb.com",
													"description": "The domain provided in the request."
												},
												"registrationNumbers": {
													"type": "array",
													"nullable": true,
													"description": "The registration numbers provided in the request.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"11514917000120"
														]
													}
												},
												"businessEntityType": {
													"type": "array",
													"nullable": true,
													"description": "The business entity types provided in the request.",
													"items": {
														"type": "integer",
														"nullable": true,
														"example": [
															451
														]
													}
												},
												"addressLocality": {
													"type": "string",
													"nullable": true,
													"example": "short hills",
													"description": "The locality provided in the request."
												},
												"addressRegion": {
													"type": "string",
													"nullable": true,
													"example": "New Jersey",
													"description": "The region provided in the request."
												},
												"addressCounty": {
													"type": "string",
													"nullable": true,
													"example": "Santa Clara County",
													"description": "Text recording the name of a county where the business is located."
												},
												"streetAddressLine1": {
													"type": "string",
													"nullable": true,
													"example": "103 JFK PKWY",
													"description": "The street address provided in the request."
												},
												"postalCode": {
													"type": "string",
													"nullable": true,
													"example": "7040",
													"description": "The postal code provided in the request."
												},
												"postalCodesList": {
													"type": "array",
													"nullable": true,
													"description": "A list of identifiers used by the local country Postal Authority to identify where the business is located.",
													"items": {
														"type": "string",
														"nullable": true,
														"example": [
															"94536"
														]
													}
												},
												"isManufacturingLocation": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "An indicator of whether manufacturing activity is performed at this location."
												},
												"locationRadius": {
													"type": "object",
													"nullable": true,
													"properties": {
														"lat": {
															"type": "number",
															"nullable": true,
															"example": 40.7431319,
															"description": "The latitude provided in the request."
														},
														"lon": {
															"type": "number",
															"nullable": true,
															"example": -74.3620265,
															"description": "The longitude provided in the request."
														},
														"postalCode": {
															"type": "string",
															"nullable": true,
															"example": "94536",
															"description": "The location radius postal code provided in the request."
														},
														"radius": {
															"type": "number",
															"nullable": true,
															"example": 3,
															"description": "The radius provided in the request."
														},
														"unit": {
															"type": "string",
															"nullable": true,
															"example": "mi",
															"description": "The unit provided in the request."
														}
													},
													"additionalProperties": true,
													"description": "The location radius details provided in the request."
												},
												"primaryName": {
													"type": "string",
													"nullable": true,
													"example": "The DUN & BRADSTREET",
													"description": "The primary name provided in the request."
												},
												"tradeStyleName": {
													"type": "string",
													"nullable": true,
													"example": "D&B",
													"description": "The tradestyle name provided in the request."
												},
												"tickerSymbol": {
													"type": "string",
													"nullable": true,
													"example": "DNB",
													"description": "The ticker symbol provided in the request."
												},
												"isImporter": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "When 'true' indicates that the subject imports goods, raw materials, products etc., from other countries."
												},
												"isExporter": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "When 'true' indicates that the subject exports goods, raw materials, products etc., to other countries."
												},
												"familytreeRolesPlayed": {
													"type": "array",
													"nullable": true,
													"description": "The family tree roles provided in the request.",
													"items": {
														"type": "integer",
														"nullable": true,
														"example": [
															12775
														]
													}
												},
												"globalUltimateFamilyTreeMembersCount": {
													"type": "object",
													"nullable": true,
													"properties": {
														"minimumValue": {
															"type": "integer",
															"nullable": true,
															"example": 500,
															"description": "The family tree minimum count provided in the request."
														},
														"maximumValue": {
															"type": "integer",
															"nullable": true,
															"example": 100,
															"description": "The family tree maximum count provided in the request."
														}
													},
													"additionalProperties": true,
													"description": "The family tree count details provided in the request."
												},
												"numberOfEmployees": {
													"type": "object",
													"nullable": true,
													"properties": {
														"informationScope": {
															"type": "integer",
															"nullable": true,
															"example": 9066,
															"description": "The code provided in the request that represents the scope the requested values are checked against.<br/><br/>Valid values:<br/>- 9066: Individual<br/>- 9067: Consolidated"
														},
														"minimumValue": {
															"type": "integer",
															"nullable": true,
															"example": 10000,
															"description": "The minimum number of employees provided in the request."
														},
														"maximumValue": {
															"type": "integer",
															"nullable": true,
															"example": 1000,
															"description": "The maximum number of employees provided in the request."
														}
													},
													"additionalProperties": true,
													"description": "The details of the Number of Employees criteria provided in the request."
												},
												"industryCodes": {
													"type": "array",
													"nullable": true,
													"description": "The details of the codes that were included in the request.",
													"items": {
														"type": "object",
														"nullable": true,
														"properties": {
															"code": {
																"type": "array",
																"nullable": true,
																"description": "A list of codes that were included in the request.",
																"items": {
																	"type": "string",
																	"nullable": true,
																	"example": [
																		"313240"
																	]
																}
															},
															"description": {
																"type": "array",
																"nullable": true,
																"description": "A list of descriptions that were included in the request.",
																"items": {
																	"type": "string",
																	"nullable": true,
																	"example": [
																		"mills"
																	]
																}
															},
															"typeDnbCode": {
																"type": "integer",
																"nullable": true,
																"enum": [
																	35912,
																	25838,
																	19295,
																	3599,
																	700
																],
																"example": 30832,
																"description": "The Industry Type Code that was included in the request."
															}
														},
														"additionalProperties": true
													}
												},
												"isMinorityOwned": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "An indication of whether or not the organization is certified as a business that is greater than 50% owned by and whose management and daily business operations are controlled by one or more minority group members."
												},
												"isFemaleOwned": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "Search capability for client input data suggesting an entity is woman owned with the purpose to trigger response data back to the client developer from the API."
												},
												"isStandalone": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The isStandalone value provided in the request"
												},
												"isFortune1000Listed": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The isFortune1000Listed provided in the request."
												},
												"sort": {
													"type": "array",
													"nullable": true,
													"description": "The details of the sort values in the request.",
													"items": {
														"type": "object",
														"nullable": true,
														"properties": {
															"item": {
																"type": "string",
																"nullable": true,
																"example": "countryISOAlpha2Code",
																"description": "The sort item values provided in the request."
															},
															"direction": {
																"type": "string",
																"nullable": true,
																"example": "ascending",
																"description": "The sort direction values provided in the request."
															}
														},
														"additionalProperties": true
													}
												},
												"pageSize": {
													"type": "integer",
													"nullable": true,
													"example": 25,
													"description": "The number of results to be returned per page in the response."
												},
												"pageNumber": {
													"type": "integer",
													"nullable": true,
													"example": 1,
													"description": "The page number provided in the request."
												},
												"returnNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"customerReference": {
													"type": "string",
													"nullable": true,
													"description": "A reference text that can be used by the customer for their own tracking purposes. It is returned as it was entered in the request."
												},
												"globalUltimateCountryISOAlpha2Code": {
													"type": "string",
													"nullable": true,
													"example": "US",
													"description": "The 2-letter country/market code defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the Global Ultimate country/market of the entity."
												},
												"returnYearlyRevenueNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"returnNumberOfEmployeesNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"returnIndustryNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"returnBusinessEntityTypeNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"returnFamilyTreeRoleNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"returnLocationNavigators": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												},
												"locationNavigatorType": {
													"type": "string",
													"nullable": true,
													"example": "countryISOAlpha2Code",
													"description": "The value of this parameter provided in the request."
												},
												"maxNavigatorBuckets": {
													"type": "integer",
													"nullable": true,
													"example": 5,
													"description": "\tThe maximum number of navigators requested."
												},
												"includeSearchResults": {
													"type": "boolean",
													"nullable": true,
													"example": true,
													"description": "The value of this parameter provided in the request."
												}
											},
											"additionalProperties": true,
											"description": "The details of the input data provided."
										},
										"candidatesMatchedQuantity": {
											"type": "integer",
											"nullable": true,
											"example": 100,
											"description": "The total number of candidates found matching search criteria."
										},
										"candidatesReturnedQuantity": {
											"type": "integer",
											"nullable": true,
											"example": 5,
											"description": "The total number of candidates returned in the response."
										},
										"searchCandidates": {
											"type": "array",
											"nullable": true,
											"description": "The total number of candidates returned in the response.",
											"items": {
												"type": "object",
												"nullable": true,
												"properties": {
													"displaySequence": {
														"type": "integer",
														"nullable": true,
														"example": 1,
														"description": "The order in which the entity appears in the result set. The lower the number the better the probability of the match."
													},
													"organization": {
														"type": "object",
														"nullable": true,
														"properties": {
															"duns": {
																"type": "string",
																"nullable": true,
																"example": "804735132",
																"description": "The D-U-N-S® Number, a proprietary organizational identifier owned and managed by Dun & Bradstreet Inc, provides unique identification of a subject organization, in accordance with the Data Universal Numbering System (D-U-N-S®)."
															},
															"dunsControlStatus": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"isOutOfBusiness": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates whether an organization is no longer functional or trading.<br/><br/>- If true, the organization is neither functional nor trading.<br/>- If false, the organization is either functional or trading."
																	},
																	"isMarketable": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates whether the data on the entity satisfies Dun & Bradstreet's marketability rules for Sales & Marketing Solutions products.<br/><br/>- If true, the entity data satisfies the marketability rules.<br/>- If false, the entity data does not satisfy the marketability rules."
																	},
																	"isMailUndeliverable": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates whether it is possible to deliver mail to the address of this entity.<br/><br/>- If true, it is not possible to deliver mail to at least one of the addresses listed for this DUNS (Primary, Mailing or Registered).<br/>- If false, it is possible to deliver mail to the address."
																	},
																	"isTelephoneDisconnected": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates whether the telephone number can be connected to successfully.<br/><br/>- If true, connection to the telephone number is unsuccessful.<br/>- If false, connection to the telephone number is successful."
																	},
																	"isDelisted": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates whether the entity has requested that they not be included in any Direct marketing lists (e.g., mailing, telephone).<br/><br/>- If true, the entity has objected to and MUST NOT receive direct marketing material.<br/>- If false, the entity has not objected to receiving direct marketing material."
																	},
																	"subjectHandlingDetails": {
																		"type": "array",
																		"nullable": true,
																		"description": "The details of the manner in which the entity is to receive special care being contacted. In many cases, this was specifically requested by the entity.",
																		"items": {
																			"type": "object",
																			"nullable": true,
																			"properties": {
																				"description": {
																					"type": "string",
																					"nullable": true,
																					"example": "Do not call",
																					"description": "The manner in which the entity is to receive special care when being contacted (e.g., do not call or do not send information requests). In many cases, this was specifically requested by the entity."
																				},
																				"dnbCode": {
																					"type": "integer",
																					"nullable": true,
																					"example": 7974,
																					"description": "A unique code assigned by Dun & Bradstreet to identify the manner in which the entity is to receive special care from Dun & Bradstreet when it is being contacted.<br/>Refer to Reference code table \"199 [Subject Handling]\" for all possible values."
																				}
																			},
																			"additionalProperties": true
																		}
																	}
																},
																"additionalProperties": true,
																"description": "The details of the organization's functional state and controls that impact its suitability for various usage purposes."
															},
															"primaryName": {
																"type": "string",
																"nullable": true,
																"example": "GORMAN MANUFACTURING COMPANY, INC.",
																"description": "Single name by which the organization is primarily known or identified."
															},
															"tradeStyleNames": {
																"type": "array",
																"nullable": true,
																"description": "The details of the names the organization trades under for commercial purposes<br/>A 'trading style' or 'trading as name' is a name a business chooses to use which is different from their registered company name.<br/>For example D&B is a trading style of Dun & Bradstreet Ltd. It is what the business chooses to call itself for marketing purposes.",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"name": {
																			"type": "string",
																			"nullable": true,
																			"example": "Alternate Company Name",
																			"description": "The names the organization trades under for commercial purposes<br/>A 'trading style' or 'trading as name' is a name a business chooses to use which is different from their registered company name.<br/>For example D&B is a trading style of Dun & Bradstreet Ltd. It is what the business chooses to call itself for marketing purposes."
																		},
																		"priority": {
																			"type": "integer",
																			"nullable": true,
																			"example": 1,
																			"description": "A numeric value used to identify the relative importance of a Trade Style Name compared to other Trade Style Names. The lower the numeric value the earlier the data is displayed (i.e. 1 indicates the most important name, 2 the second most important etc...)"
																		}
																	},
																	"additionalProperties": true
																}
															},
															"formerPrimaryNames": {
																"type": "array",
																"nullable": true,
																"description": "The details of the entity's former names.",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"name": {
																			"type": "string",
																			"nullable": true,
																			"example": "Gorman & Sons Manufacturing",
																			"description": "The name by which the entity was previously known or identified."
																		},
																		"startDate": {
																			"type": "string",
																			"nullable": true,
																			"example": "2013-01-30 00:00:00",
																			"description": "The date when this entity name was first used or registered, or the date when Dun & Bradstreet was first informed that the entity was using this name."
																		},
																		"endDate": {
																			"type": "string",
																			"nullable": true,
																			"example": "2015-02-03 00:00:00",
																			"description": "The date the entity ceased using this name."
																		}
																	},
																	"additionalProperties": true
																}
															},
															"primaryAddress": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"addressCountry": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"isoAlpha2Code": {
																				"type": "string",
																				"nullable": true,
																				"example": "US",
																				"description": "The 2 letter alpha country code assigned by the International Organization for Standardization (ISO) identifying the Country/Region for this address of the organization."
																			},
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "United States",
																				"description": "The country or region for this address of the organization."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the country or region for this address of the organization."
																	},
																	"addressLocality": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "SAN FRANCISCO",
																				"description": "The name of the locality for this address of the organization. Locality defined as a district population cluster. City, town, township, village, borough etc."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The name of the locality for this address of the organization. Locality defined as a district population cluster. City, town, township, village, borough etc."
																	},
																	"addressRegion": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "California",
																				"description": "The name of the geographical area for this address of the organization. For Example New Jersey."
																			},
																			"abbreviatedName": {
																				"type": "string",
																				"nullable": true,
																				"example": "CA",
																				"description": "The shortened name of the geographical area for this address of the organization. For example NJ for the US State New Jersey within Country United States."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The name of the geographical area for this address of the organization. For Example New Jersey."
																	},
																	"addressCounty": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "Santa Clara County",
																				"description": "Text recording the name of a county where the business is located."
																			}
																		},
																		"additionalProperties": true,
																		"description": "Records the details of the county where the business is located."
																	},
																	"postalCode": {
																		"type": "string",
																		"nullable": true,
																		"example": "941109999",
																		"description": "The postal code for this address of the organization.<br/><br/>Also known locally in various English-speaking countries throughout the world as a postcode, post code, Eircode, PIN or ZIP Code) is a series of letters or digits or both, sometimes including spaces or punctuation, included in a postal address for the purpose of sorting mail. The code is used by the country's postal authority to identify the address where the organization is located or conducts operations ."
																	},
																	"streetNumber": {
																		"type": "string",
																		"nullable": true,
																		"example": "492",
																		"description": "The number part of the street address where the entity is located.<br/>This may be a single number, a number with an appendix, or a range of street numbers.<br/>For example, the \"51 - 59C\" in the address 51 - 59C Wall Street."
																	},
																	"streetName": {
																		"type": "string",
																		"nullable": true,
																		"example": "KOLLER ST",
																		"description": "The name of the street where the entity is located.<br/>For example, \"Wall Street\" in the address 51 - 59C Wall Street."
																	},
																	"streetAddress": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"line1": {
																				"type": "string",
																				"nullable": true,
																				"example": "492 KOLLER ST",
																				"description": "The first line of the address where the entity is located.<br/><br/>The first line of this address of the organization. For example The Point in the address<br/><br/>The Point<br/>37 North Wharf Road<br/>London<br/>W2 1AF"
																			},
																			"line2": {
																				"type": "string",
																				"nullable": true,
																				"example": "Suite 100",
																				"description": "The second line of this address of the organization.<br/>For example 37 North Wharf Road in the address<br/>The Point<br/>37 North Wharf Road<br/>London<br/>W2 1AF"
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the street address for this address of the organization."
																	},
																	"latitude": {
																		"type": "number",
																		"nullable": true,
																		"example": 37.777709,
																		"description": "The geographic coordinate that specifies the north-south position for this address of the organization."
																	},
																	"longitude": {
																		"type": "number",
																		"nullable": true,
																		"example": -122.404624,
																		"description": "The geographic coordinate that specifies the east-west position for this address of the organization."
																	},
																	"isManufacturingLocation": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates if manufacturing activity is performed at this facility by the entity.<br/><br/>- If true, the entity performs manufacturing activity at this facility.<br/>- If false, the entity does not performs manufacturing activity at this facility."
																	}
																},
																"additionalProperties": true,
																"description": "The details of the Primary Address at which the organization is located or conducts operations."
															},
															"registeredAddress": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"addressCountry": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"isoAlpha2Code": {
																				"type": "string",
																				"nullable": true,
																				"example": "US",
																				"description": "The 2 letter alpha country code assigned by the International Organization for Standardization (ISO) identifying the country/region where the organization's official address is located."
																			},
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "United States",
																				"description": "The name of the country/region where the organization's official address is located"
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the Country or Region where the organization's official address is located."
																	},
																	"addressLocality": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "SAN FRANCISCO",
																				"description": "The name of the locality where the organization's official address is located.<br/>Locality defined as a district population cluster. City, Town, Township, Village, Borough etc."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the locality where the organization's official address is located."
																	},
																	"addressRegion": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "California",
																				"description": "The name of the geographical area where the organization's official address is located .<br/>Example:<br/>New Jersey"
																			},
																			"abbreviatedName": {
																				"type": "string",
																				"nullable": true,
																				"example": "CA",
																				"description": "The shortened name of the geographical area where the organization's official address is located.<br/>For example NJ for the US State New Jersey within Country United States."
																			}
																		},
																		"additionalProperties": true,
																		"description": "Details of the type of geographical area where the organization's official address is located.<br/><br/>Different markets have their own way of subdividing the country into smaller parts.<br/>Examples:<br/>Departments (France)<br/>States (USA)<br/>Provinces (Netherlands)<br/>BundeslÃ¤nder (Germany)<br/>Provinces and Territories (Canada)"
																	},
																	"addressCounty": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "Santa Clara County",
																				"description": "Text recording the name of a county where the business is located."
																			}
																		},
																		"additionalProperties": true,
																		"description": "Records the details of the county where the business is located."
																	},
																	"postalCode": {
																		"type": "string",
																		"nullable": true,
																		"example": "941109999",
																		"description": "The postal code for this address of the organization.<br/><br/>Also known locally in various English-speaking countries throughout the world as a postcode, post code, Eircode, PIN or ZIP Code) is a series of letters or digits or both, sometimes including spaces or punctuation, included in a postal address for the purpose of sorting mail. The code is used by the country's postal authority to identify the address where the organization is located or conducts operations ."
																	},
																	"streetNumber": {
																		"type": "string",
																		"nullable": true,
																		"example": "492",
																		"description": "The number part of the street address where the entity is located.<br/>This may be a single number, a number with an appendix, or a range of street numbers.<br/>For example, the \"51 - 59C\" in the address 51 - 59C Wall Street."
																	},
																	"streetName": {
																		"type": "string",
																		"nullable": true,
																		"example": "KOLLER ST",
																		"description": "The name of the street where the entity is located.<br/>For example, \"Wall Street\" in the address 51 - 59C Wall Street."
																	},
																	"streetAddress": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"line1": {
																				"type": "string",
																				"nullable": true,
																				"example": "The Point",
																				"description": "The first line of the organization's official address. For example The Point In the address<br/>The Point<br/>37 North Wharf Road<br/>London<br/>W2 1AF"
																			},
																			"line2": {
																				"type": "string",
																				"nullable": true,
																				"example": "37 North Wharf Road",
																				"description": "The second line of the organization's official address. For example 37 North Wharf Road In the address<br/>The Point<br/>37 North Wharf Road<br/>London"
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the street address where the organization's official address is located."
																	}
																},
																"additionalProperties": true,
																"description": "The details of the organization's official address as recorded with an external authority to which all official correspondence must be sent<br/>Example<br/>Companies House for the UK."
															},
															"mailingAddress": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"addressCountry": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"isoAlpha2Code": {
																				"type": "string",
																				"nullable": true,
																				"example": "US",
																				"description": "The 2 letter alpha country code assigned by the International Organization for Standardization (ISO) identifying the Country/Region for this address of the organization."
																			},
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "United States",
																				"description": "The country or region for this address of the organization."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the country or region for this address of the organization."
																	},
																	"addressLocality": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "SAN FRANCISCO",
																				"description": "The name of the locality for this address of the organization. Locality defined as a district population cluster. City, town, township, village, borough etc."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The name of the locality for this address of the organization. Locality defined as a district population cluster. City, town, township, village, borough etc."
																	},
																	"addressRegion": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "California",
																				"description": "The name of the geographical area for this address of the organization. For Example New Jersey."
																			},
																			"abbreviatedName": {
																				"type": "string",
																				"nullable": true,
																				"example": "CA",
																				"description": "The shortened name of the geographical area for this address of the organization. For example NJ for the US State New Jersey within Country United States."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The name of the geographical area for this address of the organization. For Example New Jersey."
																	},
																	"addressCounty": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"name": {
																				"type": "string",
																				"nullable": true,
																				"example": "Santa Clara County",
																				"description": "Text recording the name of a county where the business is located."
																			}
																		},
																		"additionalProperties": true,
																		"description": "Records the details of the county where the business is located."
																	},
																	"postalCode": {
																		"type": "string",
																		"nullable": true,
																		"example": "941109999",
																		"description": "The postal code for this address of the organization.<br/><br/>Also known locally in various English-speaking countries throughout the world as a postcode, post code, Eircode, PIN or ZIP Code) is a series of letters or digits or both, sometimes including spaces or punctuation, included in a postal address for the purpose of sorting mail. The code is used by the country's postal authority to identify the address where the organization is located or conducts operations ."
																	},
																	"streetNumber": {
																		"type": "string",
																		"nullable": true,
																		"example": "492",
																		"description": "The number part of the street address where the entity is located.<br/>This may be a single number, a number with an appendix, or a range of street numbers.<br/>For example, the \"51 - 59C\" in the address 51 - 59C Wall Street."
																	},
																	"streetName": {
																		"type": "string",
																		"nullable": true,
																		"example": "KOLLER ST",
																		"description": "The name of the street where the entity is located.<br/>For example, \"Wall Street\" in the address 51 - 59C Wall Street."
																	},
																	"streetAddress": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"line1": {
																				"type": "string",
																				"nullable": true,
																				"example": "492 KOLLER ST",
																				"description": "The first line of the address where the entity is located.<br/><br/>The first line of this address of the organization. For example The Point in the address<br/><br/>The Point<br/>37 North Wharf Road<br/>London<br/>W2 1AF"
																			},
																			"line2": {
																				"type": "string",
																				"nullable": true,
																				"example": "Suite 100",
																				"description": "The second line of this address of the organization.<br/>For example 37 North Wharf Road in the address<br/>The Point<br/>37 North Wharf Road<br/>London<br/>W2 1AF"
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the street address for this address of the organization."
																	}
																},
																"additionalProperties": true,
																"description": "The details of the address used by the entity for mailing purposes."
															},
															"telephone": {
																"type": "array",
																"nullable": true,
																"description": "The details of the Telephone contact information used for voice communication with the organization.",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"telephoneNumber": {
																			"type": "string",
																			"nullable": true,
																			"example": "6505550000",
																			"description": "The primary voice telephone number for the business, when dialing domestically. The National Telephone Number is created by combining the Domestic Area Code and the Local Number.<br/><br/>A Domestic Area Code is a series of numbers that must be prefixed before dialing a telephone number in another local area. National telecommunication authorities use various formats and dialing rules for area codes. Also known as City Code.<br/><br/>A Local Number is a series of numbers that represents a specific telephone line."
																		},
																		"isdCode": {
																			"type": "string",
																			"nullable": true,
																			"example": "1",
																			"description": "A series of numbers that must be prefixed before dialing a telephone number in another Country, it is comprised of an International Dialing Prefix followed by the Country Code. These are also referred to as Country Calling Code or Country Dial-In Code."
																		}
																	},
																	"additionalProperties": true
																}
															},
															"domain": {
																"type": "string",
																"nullable": true,
																"example": "gorman.com",
																"description": "A unique name used to identify the website of the Organization that serves as an address to access that website."
															},
															"registrationNumbers": {
																"type": "array",
																"nullable": true,
																"description": "The details of the organization's identifiers issued by a recognized external authority to uniquely identify subjects. The issuing authority may be a Registration Authority, Government Department or Commercial Enterprise (e.g., Chamber of Commerce numbers, VAT numbers).",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"registrationNumber": {
																			"type": "string",
																			"nullable": true,
																			"example": "12-3456789",
																			"description": "The number or alphanumeric value assigned by a recognized external authority that either uniquely identifies or helps to identify the organization."
																		},
																		"typeDescription": {
																			"type": "string",
																			"nullable": true,
																			"example": "Federal Taxpayer Identification Number (US)",
																			"description": "The official name of the organization identifier assigned by a recognized external authority (e.g.. Australian Company Number, Federal Taxpayer Identification Number, Value Added Tax Number)."
																		},
																		"typeDnBCode": {
																			"type": "integer",
																			"nullable": true,
																			"example": 6863,
																			"description": "A unique code assigned by Dun & Bradstreet to identify the type of organization identifier. For example, 2541 stands for company number issued by the UK Companies House.<br/>Refer to Reference code table \"7 [Registration Number Type]\" for all possible values."
																		}
																	},
																	"additionalProperties": true
																}
															},
															"isPubliclyTradedCompany": {
																"type": "boolean",
																"nullable": true,
																"example": true,
																"description": "Indicates whether the entity offers its securities to general public, typically through a stock exchange.<br/><br/>- If true, entity offers securities to the general public.<br/>- If false, entity does not offer securities to the general public."
															},
															"isImporter": {
																"type": "boolean",
																"nullable": true,
																"example": true,
																"description": "Indicates if the entity is an importer.<br/><br/>- If true, the entity imports a quantity of goods from other countries.<br/>- If false, the entity does not import a quantity of goods from other countries."
															},
															"isExporter": {
																"type": "boolean",
																"nullable": true,
																"example": true,
																"description": "Indicates if the entity is an exporter.<br/><br/>- If true, the entity exports a quantity of goods to other countries.<br/>- If false, the entity does not export a quantity of goods to other countries."
															},
															"numberOfEmployees": {
																"type": "array",
																"nullable": true,
																"description": "The details of the number of individuals engaged by a business for various purposes, e.g., to perform its business operations.",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"value": {
																			"type": "integer",
																			"nullable": true,
																			"example": 1234,
																			"description": "The number of individuals engaged by a business to perform its various purposes, e.g., business operations, and can include directors, principals and full or part time employees."
																		},
																		"informationScopeDescription": {
																			"type": "string",
																			"nullable": true,
																			"example": "Consolidated",
																			"description": "The organizational scope of the Employee Quantity Values. Employees here means it represents a single organization inclusive of any branches. Employees Total means it represents an organization inclusive of any branches and any subsidiaries."
																		},
																		"informationScopeDnBCode": {
																			"type": "integer",
																			"nullable": true,
																			"example": 9067,
																			"description": "A unique code assigned by Dun & Bradstreet to identify the organizational scope of the Employee Quantity value.<br/>Refer to Reference code table \"192 [Information Scope]\" for all possible values."
																		},
																		"reliabilityDescription": {
																			"type": "string",
																			"nullable": true,
																			"example": "Actual",
																			"description": "The integrity of the Employee Quantity Value (e.g., actual, estimated, or modeled)."
																		},
																		"reliabilityDnBCode": {
																			"type": "integer",
																			"nullable": true,
																			"example": 9092,
																			"description": "A unique code assigned by Dun & Bradstreet to identify the integrity of the Employee Quantity Values.<br/>Refer to Reference code table \"171 [Reliability]\" for all possible values."
																		}
																	},
																	"additionalProperties": true
																}
															},
															"businessEntityType": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"description": {
																		"type": "string",
																		"nullable": true,
																		"example": "Corporation",
																		"description": "The text description of the unique code assigned by Dun & Bradstreet for the Legal Form Class."
																	},
																	"dnbCode": {
																		"type": "integer",
																		"nullable": true,
																		"example": 451,
																		"description": "A unique code assigned by D&B to identify the Legal Form Class.<br/>E.g. 451 is the Code for Corporation.<br/>Refer to Reference code table \"197 [Business Entity Type]\" for all possible values."
																	}
																},
																"additionalProperties": true,
																"description": "A broad category of an organization structure into which all Legal Forms are grouped. These categories are created by Dun & Bradstreet for client use based on Legal Form association with one and only one Legal Form Class. Legal Form Class is limited to Corporation, Partnership, Proprietorship, National Government, Local Government, Joint Venture, Non Profit Organization, Co-operative / Mutual Organization and Foreign Company as well as a category for Legal Forms that do not fit into an existing Legal Form Class."
															},
															"tickerSymbol": {
																"type": "string",
																"nullable": true,
																"example": "NYSE:DNB",
																"description": "The entity's identifier for share trading purposes at the Stock Exchange where the entity does most of the trading. For example \"NYSE: DNB\" is the ticker symbol for Dun & Bradstreet in New York Stock Exchange."
															},
															"financials": {
																"type": "array",
																"nullable": true,
																"description": "The details of the standardized summary view of the financial results (actual or estimated) for the organization.",
																"items": {
																	"type": "object",
																	"nullable": true,
																	"properties": {
																		"yearlyRevenue": {
																			"type": "array",
																			"nullable": true,
																			"description": "The details of the total income attributable to product and services sold by an organization annually.",
																			"items": {
																				"type": "object",
																				"nullable": true,
																				"properties": {
																					"value": {
																						"type": "number",
																						"nullable": true,
																						"description": "The annual sales or revenue of the company.<br/>Note: These figures are provided only in USD"
																					},
																					"currency": {
																						"type": "string",
																						"nullable": true,
																						"example": "USD",
																						"description": "The three-letter currency code, defined in the ISO 4217 scheme published by the International Organization for Standardization (ISO) identifying the type of money in which this amount is expressed (e.g., USD, CAD, GBP, EUR)."
																					}
																				},
																				"additionalProperties": true
																			}
																		}
																	},
																	"additionalProperties": true
																}
															},
															"isStandalone": {
																"type": "boolean",
																"nullable": true,
																"example": true,
																"description": "Indicates if the entity is a member of a legal family tree.<br/><br/>- If true, indicates that the entity is not a member of a legal family tree. This means it cannot play any family tree role and corporateLinkage will not be present.<br/>- If false, indicates that the entity is a member of a legal family tree. The roles it plays is indicated by Family Tree Member Roles played."
															},
															"corporateLinkage": {
																"type": "object",
																"nullable": true,
																"properties": {
																	"isBranch": {
																		"type": "boolean",
																		"nullable": true,
																		"example": true,
																		"description": "Indicates if the entity is a Branch.<br/><br/>- If true, the entity is a branch.<br/>- If false, the entity is not a branch."
																	},
																	"familytreeRolesPlayed": {
																		"type": "array",
																		"nullable": true,
																		"description": "The details of the roles the entity plays as a member of an ownership structured family tree.",
																		"items": {
																			"type": "object",
																			"nullable": true,
																			"properties": {
																				"description": {
																					"type": "string",
																					"nullable": true,
																					"example": "Parent/Headquarters",
																					"description": "The role the entity plays as a member of an ownership structured family tree (e.g., a branch, division, a parent, headquarters, subsidiary, global ultimate, domestic ultimate)."
																				},
																				"dnbCode": {
																					"type": "integer",
																					"nullable": true,
																					"example": 9141,
																					"description": "A unique code assigned by Dun & Bradstreet to identify describing family tree role.<br/>Refer to Reference code table \"202 [Family Tree Role]\" for all possible values."
																				}
																			},
																			"additionalProperties": true
																		}
																	},
																	"globalUltimateFamilyTreeMembersCount": {
																		"type": "integer",
																		"nullable": true,
																		"example": 9000,
																		"description": "The total number of entities in the entity's Family tree starting from Global Ultimate."
																	},
																	"globalUltimate": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"duns": {
																				"type": "string",
																				"nullable": true,
																				"example": "804735132",
																				"description": "The D-U-N-S® Number, a proprietary organizational identifier owned and managed by Dun & Bradstreet Inc, provides unique identification of a subject organization, in accordance with the Data Universal Numbering System (D-U-N-S®)."
																			},
																			"primaryName": {
																				"type": "string",
																				"nullable": true,
																				"example": "GORMAN MANUFACTURING COMPANY, INC.",
																				"description": "Single name by which the organization is primarily known or identified."
																			},
																			"primaryAddress": {
																				"type": "object",
																				"nullable": true,
																				"properties": {
																					"addressCountry": {
																						"type": "object",
																						"nullable": true,
																						"properties": {
																							"isoAlpha2Code": {
																								"type": "string",
																								"nullable": true,
																								"example": "US",
																								"description": "The two-letter country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country/market in which this address is located."
																							}
																						},
																						"additionalProperties": true,
																						"description": "The details of the country/market in which this address is located."
																					}
																				},
																				"additionalProperties": true,
																				"description": "The details of the single primary or physical address at which the entity is located."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the top most organization in the family tree, tracing each parent up to its own parent. For example, organization A is based in the US and has organization B as its parent also in the US. In turn organization B is owned by organization C, also in the US, which is owned by organization D which is in the UK. Thus, the Global Ultimate of this family tree (and therefore of each member of the family tree) is organization D."
																	},
																	"parent": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"duns": {
																				"type": "string",
																				"nullable": true,
																				"example": "804735132",
																				"description": "The D-U-N-S Number is D&B's identification number, which provides unique identification of this organization, in accordance with the Data Universal Numbering System (D-U-N-S)."
																			},
																			"primaryName": {
																				"type": "string",
																				"nullable": true,
																				"example": "GORMAN MANUFACTURING COMPANY, INC.",
																				"description": "The single name by which the organization is primarily known / identified."
																			}
																		},
																		"additionalProperties": true,
																		"description": "Records information about the organization which owns more than 50% of the subject and the organization at the very top of the legal family."
																	},
																	"headQuarter": {
																		"type": "object",
																		"nullable": true,
																		"properties": {
																			"duns": {
																				"type": "string",
																				"nullable": true,
																				"example": "804735132",
																				"description": "The D-U-N-S® Number, a proprietary organizational identifier owned and managed by Dun & Bradstreet Inc, provides unique identification of a subject organization, in accordance with the Data Universal Numbering System (D-U-N-S®)."
																			},
																			"primaryName": {
																				"type": "string",
																				"nullable": true,
																				"example": "GORMAN MANUFACTURING COMPANY, INC.",
																				"description": "Single name by which the organization is primarily known or identified."
																			}
																		},
																		"additionalProperties": true,
																		"description": "The details of the organization that serves as the administrative office for its branches."
																	}
																},
																"additionalProperties": true,
[...]
