{
	"swagger": "2.0",
	"host": "plus.dnb.com",
	"schemes": [
		"https"
	],
	"info": {
		"description": "The Data Block API is intended to vend Data Blocks to customers transactionally based on a request for a single DUNS.",
		"title": "Data Blocks",
		"version": "1"
	},
	"basePath": "/",
	"paths": {
		"/v1/data/duns/{dunsNumber}": {
			"x-DNB-Name": "Data Blocks (businessactivityinsight_L3_v1, companyfinancials_L4_v3, companyfinancials_abridged_v1, companyfinancials_thirdparty_v1, companyinfo_L4_v1, companyinfo_advgeoposition_v1, diversityinsight_L3_v1, dtri_L3_v1, educationaldata_L2_v1, esginsight_L3_v1, eventfilings_L3_v1, externaldisruptioninsight_L4_v1, financialstrengthinsight_L4_v1, globalbusinessranking_L1_v1, globalfinancials_L2_v1, hierarchyconnections_L1_v1, hierarchyconnections_alternative_v1, hierarchyconnections_eli_v1, inquiryinsight_L4_v1, ownershipinsight_L1_v1, paymentinsight_L4_v1, principalscontacts_L4_v2, salesmarketinginsight_L3_v2, salesmarketinginsight_foottraffic_v1, shippinginsight_L1_v1, supplychainriskindex_L1_v1, thirdpartyriskinsight_L1_v3)",
			"x-DNB-ID": "dataBlocks",
			"get": {
				"description": "The Data Block API is intended to vend Data Blocks to customers transactionally based on a request for a single DUNS.",
				"summary": "Endpoint",
				"operationId": "dataBlocks",
				"x-monitoring": "Available except \"Business Activity Insights\", \"Derived Trade Insights\", \"Inquiry Insights\", \"Company Information Advanced Geoposition Side Block\", \"Hierarchies & Connections ELI Side Block\". Please refer <a href=\"/html/guides/Monitor/DataProducts.html\" target=\"_blank\">guide</a> for details.",
				"x-monitoring-pdf": "Available except \"Business Activity Insights\", \"Derived Trade Insights\", \"Inquiry Insights\", \"Company Information Advanced Geoposition Side Block\", \"Hierarchies & Connections ELI Side Block\". Please refer guide for details.",
				"tags": [
					"dataBlocks"
				],
				"produces": [
					"application/json;charset=utf-8"
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"description": "",
							"type": "object",
							"properties": {
								"transactionDetail": {
									"type": "object",
									"description": "The information used to process this request.",
									"properties": {
										"transactionID": {
											"type": "string",
											"example": "rlh-hi9puyoijk-jop8u-kd-d-1",
											"description": "A value assigned by the Dun & Bradstreet application to uniquely identify this request."
										},
										"transactionTimestamp": {
											"type": "string",
											"example": "2017-02-21T17:46:19.839Z",
											"description": "The date and time, in ISO 8601 UTC Z standard, when this response was created."
										},
										"inLanguage": {
											"type": "string",
											"example": "en-US",
											"description": "An IETF BCP 47 code value that defines the language in which this product was rendered."
										}
									},
									"additionalProperties": true
								},
								"inquiryDetail": {
									"type": "object",
									"description": "The criteria used to process this request.",
									"properties": {
										"duns": {
											"type": "string",
											"example": "804735132",
											"description": "The D-U-N-S number provided in the request."
										},
										"blockIDs": {
											"type": "array",
											"description": "The blockIDs provided in the request.",
											"items": {
												"example": [
													"blockID"
												],
												"type": "string"
											}
										},
										"tradeUp": {
											"type": "string",
											"example": "hq",
											"description": "The value of the tradeUp parameter provided in the request."
										},
										"customerReference": {
											"type": "string",
											"example": "Some text to describe the request.",
											"description": "A reference string provided by the customer for this particular transaction."
										},
										"orderReason": {
											"type": "string",
											"example": "6332",
											"description": "The orderReason provided in the request."
										}
									},
									"additionalProperties": true
								},
								"blockStatus": {
									"type": "array",
									"description": "Records the status of the data blocks requested by the customer.",
									"items": {
										"properties": {
											"blockID": {
												"type": "string",
												"example": "blockID",
												"description": "The unique identifier for the data block."
											},
											"status": {
												"type": "string",
												"example": "OK",
												"description": "The current status of the data block fulfilled in this response.<br/><br/>Possible values:<br/>* OK<br/>* Unavailable<br/>* Insufficient data"
											},
											"reason": {
												"type": "string",
												"example": "Data is not available",
												"description": "Any specific reason why the data block is not delivered in this response.<br/><br/>Possible values:<br/>* Data is partially available or not available.<br/>* Data is not available for the branch.<br/>* Data is not available on the requested country code."
											}
										},
										"additionalProperties": true,
										"type": "object"
									}
								},
								"organization": {
									"type": "object",
									"additionalProperties": true,
									"description": "The details of the entity.",
									"properties": {
										"duns": {
											"type": "string",
											"example": "804735132",
											"description": "The D-U-N-S® Number, a proprietary organizational identifier owned and managed by Dun & Bradstreet Inc, provides unique identification of a subject organization, in accordance with the Data Universal Numbering System (D-U-N-S®)."
										},
										"countryISOAlpha2Code": {
											"type": "string",
											"example": "US",
											"description": "The two-letter country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme, identifying the country in which the entity is located."
										},
										"primaryName": {
											"type": "string",
											"example": "GORMAN MANUFACTURING COMPANY, INC.",
											"description": "Single name by which the organization is primarily known or identified."
										},
										"businessActivityInsight": {
											"type": "object",
											"description": "Records \"Signs of Activity\" which are small and simplistic in nature and on their own at a transactional level tell you very little, however when combine and aggregated together and analyzed over time reveals insights about the company like whether it is doing business in a market, whether it is expanding or whether it is hiring.",
											"properties": {
												"threeMonthsSummary": {
													"type": "object",
													"description": "Record aggregated views of the business signals summarized in the last 3 months.",
													"properties": {
														"activitiesCount": {
															"type": "integer",
															"example": 54,
															"description": "The total number of business activities in the last 3 months."
														},
														"strongActivitiesCount": {
															"type": "integer",
															"example": 42,
															"description": "The total number of strong business activities in the last 3 months."
														},
														"signalsCount": {
															"type": "integer",
															"example": 54,
															"description": "The number of business activity signals recorded for this company in the last 3 months."
														},
														"strongSignalsCount": {
															"type": "integer",
															"example": 13,
															"description": "The number of business activity signals with higher confidence level recorded for this company in the last 3 months."
														},
														"moderateStrongSignalsCount": {
															"type": "integer",
															"example": 12,
															"description": "Total number of moderately strong business activities signals in the last 3 months."
														},
														"signalMonthsCount": {
															"type": "integer",
															"example": 3,
															"description": "The number of months of business activities within the last 3 months."
														},
														"mostRecentStrongSignalDate": {
															"type": "string",
															"example": "20200518",
															"description": "Date of Verification of business activity in the last 3 months."
														},
														"uniqueDataSourceCategoriesCount": {
															"type": "integer",
															"example": 7,
															"description": "The number of unique business activity source categories used within the last 3 months."
														},
														"uniqueInformationCategoriesCount": {
															"type": "integer",
															"example": 3,
															"description": "Total number of unique data source categories used within the last 3 months."
														},
														"changeEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity change events in the last 3 months."
														},
														"datafillEvents": {
															"type": "integer",
															"example": 0,
															"description": "Total number business activity data fill events in the last 3 months."
														},
														"conflictEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity conflict events in the last 3 months."
														},
														"excludedEvents": {
															"type": "integer",
															"example": 12,
															"description": "Total number of excluded business activity events in the last 3 months."
														},
														"verificationEvents": {
															"type": "integer",
															"example": 7,
															"description": "Total number of business activity verification events in the last 3 months."
														},
														"dataProviderCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different categories of data providers in the last 3 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Business Listing",
																		"description": "Text recording the D&B classification of data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activities signals based on each of the data provider category recorded for this company in the last 3 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider category recorded for this company in the last 3 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"dataProviderSummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different data providers in the last 3 months.",
															"items": {
																"properties": {
																	"dataProviderAlias": {
																		"type": "string",
																		"example": "CEO",
																		"description": "Text recording the data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals based on each of the data provider recorded for this company in the last 3 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider recorded for this company in the last 3 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"informationCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different information categories in the last 3 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Televerification",
																		"description": "Text recording the information categories."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 54,
																		"description": "The number of business activity signals based on each of the information category recorded for this company in the last 3 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"matchGradeSummary": {
															"type": "object",
															"description": "Records aggregated views of the matched business activities based on the matched pattern in the last 3 months.",
															"properties": {
																"uniqueOverallRatingCount": {
																	"type": "integer",
																	"example": 28,
																	"description": "The number of unique Match Grade strings in the last 3 months."
																},
																"uniqueFirmographicRatingCount": {
																	"type": "integer",
																	"example": 16,
																	"description": "The number of unique Match Grade strings based on first 8 characters in the last 3 months."
																},
																"componentSummary": {
																	"type": "array",
																	"description": "Records the details of the components measured by the match engine in the last 3 months.",
																	"items": {
																		"properties": {
																			"componentType": {
																				"type": "object",
																				"description": "Records the details of the component.",
																				"properties": {
																					"description": {
																						"type": "string",
																						"example": "Name",
																						"description": "Text that identifies the component (e.g., Name, Street Number) of the Match Grade that was measured by a match engine."
																					},
																					"dnbCode": {
																						"type": "integer",
																						"example": 12176,
																						"description": "A unique code assigned by Dun & Bradstreet to identify the component.<br/> Possible values: Street Name [ 12177 ]; State [ 12187 ]; Telephone [ 12190 ]; Location Uniqueness [ 12229 ]; Name [ 12176 ]; Street Number [ 12179 ]; City [ 12186 ]; PO Box [ 12189 ]; Postal Code [ 12227 ]; SIC [ 12228 ]; Geographical Density [ 12230 ]<br/>Refer to Reference code table \"332 [Match Grade Component]\" for all possible values."
																					}
																				},
																				"additionalProperties": true
																			},
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 0,
																				"description": "The number of all occurrences based on each of the component Type and ratings combination across full Match Grade strings between the existing record and records with business activity signals recorded for this company in the last 3 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"firmographicSummary": {
																	"type": "array",
																	"description": "Records the details of the firmographic match grade summary in the last 3 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 25,
																				"description": "The number of all occurrences based on each of the firmographic summary ratings across firmographic elements of the Match Grade strings between the existing record and records with business activities signals in a match recorded for this company in the last 3 months"
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"overallSummary": {
																	"type": "array",
																	"description": "Records the details of the overall match grade summary in the last 3 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience"
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 103,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals recorded for this company in the last 3 months."
																			},
																			"strongSignalsCount": {
																				"type": "integer",
																				"example": 82,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals with higher confidence level recorded for this company in the last 3 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																}
															},
															"additionalProperties": true
														}
													},
													"additionalProperties": true
												},
												"sixMonthsSummary": {
													"type": "object",
													"description": "Record aggregated views of the business signals summarized in the last 6 months.",
													"properties": {
														"activitiesCount": {
															"type": "integer",
															"example": 169,
															"description": "The total number of business activities in the last 6 months."
														},
														"strongActivitiesCount": {
															"type": "integer",
															"example": 139,
															"description": "The total number of strong business activities in the last 6 months."
														},
														"signalsCount": {
															"type": "integer",
															"example": 169,
															"description": "The number of business activity signals recorded for this company in the last 6 months."
														},
														"strongSignalsCount": {
															"type": "integer",
															"example": 58,
															"description": "The number of business activity signals with higher confidence level recorded for this company in the last 6 months."
														},
														"moderateStrongSignalsCount": {
															"type": "integer",
															"example": 30,
															"description": "Total number of moderately strong business activities signals in the last 6 months."
														},
														"signalMonthsCount": {
															"type": "integer",
															"example": 6,
															"description": "The number of months of business activities within the last 6 months."
														},
														"mostRecentStrongSignalDate": {
															"type": "string",
															"example": 20200518,
															"description": "Date of Verification of business activity in the last 6 months."
														},
														"uniqueDataSourceCategoriesCount": {
															"type": "integer",
															"example": 19,
															"description": "The number of unique business activity source categories used within the last 6 months."
														},
														"uniqueInformationCategoriesCount": {
															"type": "integer",
															"example": 8,
															"description": "Total number of unique data source categories used within the last 6 months."
														},
														"changeEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity change events in the last 6 months."
														},
														"datafillEvents": {
															"type": "integer",
															"example": 0,
															"description": "Total number business activity data fill events in the last 6 months."
														},
														"conflictEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity conflict events in the last 6 months."
														},
														"excludedEvents": {
															"type": "integer",
															"example": 47,
															"description": "Total number of excluded business activity events in the last 6 months."
														},
														"verificationEvents": {
															"type": "integer",
															"example": 14,
															"description": "Total number of business activity verification events in the last 6 months."
														},
														"dataProviderCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different categories of data providers in the last 6 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Business Listing",
																		"description": "Text recording the D&B classification of data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activities signals based on each of the data provider category recorded for this company in the last 6 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider category recorded for this company in the last 6 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"dataProviderSummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different data providers in the last 6 months.",
															"items": {
																"properties": {
																	"dataProviderAlias": {
																		"type": "string",
																		"example": "CEO",
																		"description": "Text recording the data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals based on each of the data provider recorded for this company in the last 6 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider recorded for this company in the last 6 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"informationCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different information categories in the last 6 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Televerification",
																		"description": "Text recording the information categories."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 54,
																		"description": "The number of business activity signals based on each of the information category recorded for this company in the last 6 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"matchGradeSummary": {
															"type": "object",
															"description": "Records aggregated views of the matched business activities based on the matched pattern in the last 6 months.",
															"properties": {
																"uniqueOverallRatingCount": {
																	"type": "integer",
																	"example": 87,
																	"description": "The number of unique Match Grade strings in the last 6 months."
																},
																"uniqueFirmographicRatingCount": {
																	"type": "integer",
																	"example": 53,
																	"description": "The number of unique Match Grade strings based on first 8 characters in the last 6 months."
																},
																"componentSummary": {
																	"type": "array",
																	"description": "Records the details of the components measured by the match engine in the last 6 months.",
																	"items": {
																		"properties": {
																			"componentType": {
																				"type": "object",
																				"description": "Records the details of the component.",
																				"properties": {
																					"description": {
																						"type": "string",
																						"example": "Name",
																						"description": "Text that identifies the component (e.g., Name, Street Number) of the Match Grade that was measured by a match engine."
																					},
																					"dnbCode": {
																						"type": "integer",
																						"example": 12176,
																						"description": "A unique code assigned by Dun & Bradstreet to identify the component.<br/> Possible values: Street Name [ 12177 ]; State [ 12187 ]; Telephone [ 12190 ]; Location Uniqueness [ 12229 ]; Name [ 12176 ]; Street Number [ 12179 ]; City [ 12186 ]; PO Box [ 12189 ]; Postal Code [ 12227 ]; SIC [ 12228 ]; Geographical Density [ 12230 ]<br/>Refer to Reference code table \"332 [Match Grade Component]\" for all possible values."
																					}
																				},
																				"additionalProperties": true
																			},
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 0,
																				"description": "The number of all occurrences based on each of the component Type and ratings combination across full Match Grade strings between the existing record and records with business activity signals recorded for this company in the last 6 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"firmographicSummary": {
																	"type": "array",
																	"description": "Records the details of the firmographic match grade summary in the last 6 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 68,
																				"description": "The number of all occurrences based on each of the firmographic summary ratings across firmographic elements of the Match Grade strings between the existing record and records with business activities signals in a match recorded for this company in the last 6 months"
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"overallSummary": {
																	"type": "array",
																	"description": "Records the details of the overall match grade summary in the last 6 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience"
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 277,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals recorded for this company in the last 6 months."
																			},
																			"strongSignalsCount": {
																				"type": "integer",
																				"example": 54,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals with higher confidence level recorded for this company in the last 6 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																}
															},
															"additionalProperties": true
														}
													},
													"additionalProperties": true
												},
												"twelveMonthsSummary": {
													"type": "object",
													"description": "Record aggregated views of the business signals summarized in the last 12 months.",
													"properties": {
														"activitiesCount": {
															"type": "integer",
															"example": 332,
															"description": "The total number of business activities in the last 12 months."
														},
														"strongActivitiesCount": {
															"type": "integer",
															"example": 278,
															"description": "The total number of strong business activities in the last 12 months."
														},
														"signalsCount": {
															"type": "integer",
															"example": 332,
															"description": "The number of business activity signals recorded for this company in the last 12 months."
														},
														"strongSignalsCount": {
															"type": "integer",
															"example": 119,
															"description": "The number of business activity signals with higher confidence level recorded for this company in the last 12 months."
														},
														"moderateStrongSignalsCount": {
															"type": "integer",
															"example": 54,
															"description": "Total number of moderately strong business activities signals in the last 12 months."
														},
														"signalMonthsCount": {
															"type": "integer",
															"example": 12,
															"description": "The number of months of business activities within the last 12 months."
														},
														"mostRecentStrongSignalDate": {
															"type": "string",
															"example": 20200518,
															"description": "Date of Verification of business activity in the last 12 months."
														},
														"uniqueDataSourceCategoriesCount": {
															"type": "integer",
															"example": 36,
															"description": "The number of unique business activity source categories used within the last 12 months."
														},
														"uniqueInformationCategoriesCount": {
															"type": "integer",
															"example": 17,
															"description": "Total number of unique data source categories used within the last 12 months."
														},
														"changeEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity change events in the last 12 months."
														},
														"datafillEvents": {
															"type": "integer",
															"example": 0,
															"description": "Total number business activity data fill events in the last 12 months."
														},
														"conflictEvents": {
															"type": "integer",
															"example": 1,
															"description": "Total number of business activity conflict events in the last 12 months."
														},
														"excludedEvents": {
															"type": "integer",
															"example": 115,
															"description": "Total number of excluded business activity events in the last 12 months."
														},
														"verificationEvents": {
															"type": "integer",
															"example": 19,
															"description": "Total number of business activity verification events in the last 12 months."
														},
														"dataProviderCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different categories of data providers in the last 12 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Business Listing",
																		"description": "Text recording the D&B classification of data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 6,
																		"description": "The number of business activities signals based on each of the data provider category recorded for this company in the last 12 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 1,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider category recorded for this company in the last 12 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"dataProviderSummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different data providers in the last 12 months.",
															"items": {
																"properties": {
																	"dataProviderAlias": {
																		"type": "string",
																		"example": "CEO",
																		"description": "Text recording the data providers."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 1,
																		"description": "The number of business activity signals based on each of the data provider recorded for this company in the last 12 months."
																	},
																	"strongSignalsCount": {
																		"type": "integer",
																		"example": 0,
																		"description": "The number of business activity signals with higher confidence level based on each of the data provider recorded for this company in the last 12 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"informationCategorySummary": {
															"type": "array",
															"description": "Recording of the business activity signals summarized for different information categories in the last 12 months.",
															"items": {
																"properties": {
																	"categoryName": {
																		"type": "string",
																		"example": "Televerification",
																		"description": "Text recording the information categories."
																	},
																	"signalsCount": {
																		"type": "integer",
																		"example": 54,
																		"description": "The number of business activity signals based on each of the information category recorded for this company in the last 12 months."
																	}
																},
																"additionalProperties": true,
																"type": "object"
															}
														},
														"matchGradeSummary": {
															"type": "object",
															"description": "Records aggregated views of the matched business activities based on the matched pattern in the last 12 months.",
															"properties": {
																"uniqueOverallRatingCount": {
																	"type": "integer",
																	"example": 162,
																	"description": "The number of unique Match Grade strings in the last 12 months."
																},
																"uniqueFirmographicRatingCount": {
																	"type": "integer",
																	"example": 103,
																	"description": "The number of unique Match Grade strings based on first 8 characters in the last 12 months."
																},
																"componentSummary": {
																	"type": "array",
																	"description": "Records the details of the components measured by the match engine in the last 12 months.",
																	"items": {
																		"properties": {
																			"componentType": {
																				"type": "object",
																				"description": "Records the details of the component.",
																				"properties": {
																					"description": {
																						"type": "string",
																						"example": "Name",
																						"description": "Text that identifies the component (e.g., Name, Street Number) of the Match Grade that was measured by a match engine."
																					},
																					"dnbCode": {
																						"type": "integer",
																						"example": 12176,
																						"description": "A unique code assigned by Dun & Bradstreet to identify the component.<br/> Possible values: Street Name [ 12177 ]; State [ 12187 ]; Telephone [ 12190 ]; Location Uniqueness [ 12229 ]; Name [ 12176 ]; Street Number [ 12179 ]; City [ 12186 ]; PO Box [ 12189 ]; Postal Code [ 12227 ]; SIC [ 12228 ]; Geographical Density [ 12230 ]<br/>Refer to Reference code table \"332 [Match Grade Component]\" for all possible values."
																					}
																				},
																				"additionalProperties": true
																			},
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 1,
																				"description": "The number of all occurrences based on each of the component Type and ratings combination across full Match Grade strings between the existing record and records with business activity signals recorded for this company in the last 12 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"firmographicSummary": {
																	"type": "array",
																	"description": "Records the details of the firmographic match grade summary in the last 12 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience."
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 140,
																				"description": "The number of all occurrences based on each of the firmographic summary ratings across firmographic elements of the Match Grade strings between the existing record and records with business activities signals in a match recorded for this company in the last 12 months"
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																},
																"overallSummary": {
																	"type": "array",
																	"description": "Records the details of the overall match grade summary in the last 12 months.",
																	"items": {
																		"properties": {
																			"rating": {
																				"type": "string",
																				"example": "F",
																				"description": "A textual value that indicates the quality of the match result on the component described by the MatchGradeComponentTypeText, e.g., A (Excellent), B, Z, F, AD, FZ. The rating is based on a scoring system, e.g., A may be assigned to a score of 95-100, B may be assigned to a score of 80-94. The score ranges and rating assignments are defined differently per Match Grade Component Type. Possible values: A = means the components should be considered to be the same; B = means there is some similarity; F = the components are different; Z = one or both components are missing or not used as part of the match experience"
																			},
																			"signalsCount": {
																				"type": "integer",
																				"example": 546,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals recorded for this company in the last 12 months."
																			},
																			"strongSignalsCount": {
																				"type": "integer",
																				"example": 54,
																				"description": "The number of all occurrences based on each of the overall summary ratings across full Match Grade strings between the existing record and records with business activities signals with higher confidence level recorded for this company in the last 12 months."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																}
															},
															"additionalProperties": true
														}
													},
													"additionalProperties": true
												}
											},
											"additionalProperties": true
										},
										"latestFiscalFinancials": {
											"type": "object",
											"description": "The details of the organization's most recent fiscal financial statement.<br/>Note: For latest non-fiscal statements please refer to \"otherFinancials\" section.",
											"properties": {
												"accountantName": {
													"type": "string",
													"example": "Johnson, Jordan & Jones CPAs",
													"description": "The name of either an individual or an accounting firm."
												},
												"accountantOpinions": {
													"type": "array",
													"description": "The details of remarks made by accountant.",
													"items": {
														"properties": {
															"description": {
																"type": "string",
																"example": "The accounts give a true and fair view of the company's affairs",
																"description": "Remark made by the accountant regarding the financial figures in the statement."
															},
															"dnbCode": {
																"type": "integer",
																"example": 872,
																"description": "A unique code assigned by Dun & Bradstreet to identify the remarks made by the accountant.<br/>Refer to Reference code table \"215 [Financial Statement Opinion]\" for all possible values."
															}
														},
														"additionalProperties": true,
														"type": "object"
													}
												},
												"approvalDate": {
													"type": "string",
													"example": "2018-01-31",
													"description": "The date on which the statement was formally accepted by the entity (e.g., the date of the Annual General Meeting at which the shareholders voted to approve the accounts)."
												},
												"comments": {
													"type": "array",
													"description": "The notes detailing the basis under which the Financial Statement has been prepared or providing further information regarding the entity's finances.",
													"items": {
														"properties": {
															"description": {
																"type": "string",
																"example": "Assets have been valued according to the Current Cost convention",
																"description": "A note providing further information about the financial statement. For example this might clarify the basis under which the Financial Statement has been prepared (e.g., The Fixed Assets figure is shown net less undisclosed accumulated depreciation) or provide additional information, obtained from the accounts, concerning the entity's finances (e.g., The subject's parent company has guaranteed all of its debts)."
															},
															"dnbCode": {
																"type": "integer",
																"example": 4046,
																"description": "A unique code assigned by Dun & Bradstreet to identify the text recorded in the comment text.<br/>Refer to Reference code table \"105 [Financial Statement Comment]\" for all possible values."
															}
														},
														"additionalProperties": true,
														"type": "object"
													}
												},
												"currency": {
													"type": "string",
													"example": "USD",
													"description": "The currency in which the figures in the Latest Financials' financial statement are stated."
												},
												"dataProvider": {
													"type": "object",
													"description": "The details of the source from which the Latest Financials data was originally obtained by Dun & Bradstreet.",
													"properties": {
														"description": {
															"type": "string",
															"example": "US Internal Revenue Service",
															"description": "Text identifying the source from which the Latest Financials data was originally obtained."
														},
														"dnbCode": {
															"type": "integer",
															"example": 19561,
															"description": "A unique code assigned by Dun & Bradstreet to identify the source of the Latest Financials data.<br/>Refer to Reference code table \"29 [Data Provider]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"deliveryMethod": {
													"type": "object",
													"description": "The details about how Dun & Bradstreet or one of its strategic partners received the financial statement.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Mail",
															"description": "Description of how Dun & Bradstreet or one of its strategic partners received the financial statement (e.g., mail, on-line)."
														},
														"dnbCode": {
															"type": "integer",
															"example": 6318,
															"description": "A unique code assigned by Dun & Bradstreet to identify how Dun & Bradstreet or one of its strategic partners received the financial statement<br/>Refer to Reference code table \"148 [Delivery Method]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"explanations": {
													"type": "array",
													"description": "Explanations of aspects of the Financial Statement (e.g., the method used to value inventory, the items that have been reported as marketable securities). This does not include general or broad explanations that pertain to the whole statement, only explanations that relate to specific items within the statement.",
													"items": {
														"properties": {
															"description": {
																"type": "string",
																"example": "General explanation",
																"description": "Explanation relating to an aspect of the Financial Statement in multiple languages and/or writing scripts."
															},
															"dnbCode": {
																"type": "integer",
																"example": 11641,
																"description": "A unique code assigned by Dun & Bradstreet to identify the explanations provided in the text element.<br/>Refer to Reference code table \"281 [Financial Statement Explanation]\" for all possible values."
															},
															"typeDescription": {
																"type": "string",
																"example": "Financial statement item explanation",
																"description": "Explanation of an aspect of the Financial Statement (e.g., the method used to value inventory, the items that have been reported as marketable securities)."
															},
															"typeDnBCode": {
																"type": "integer",
																"example": 6747,
																"description": "A unique code assigned by Dun & Bradstreet to identify the type of explanation provided in the text element.<br/>Refer to Reference code table \"27 [Information Description]\" for all possible values."
															}
														},
														"additionalProperties": true,
														"type": "object"
													}
												},
												"filingDate": {
													"type": "string",
													"example": "2018-02-01",
													"description": "The date when the company filed its Latest Financials' financial statement with an official registry."
												},
												"financialStatementDuration": {
													"type": "string",
													"example": "P12M",
													"description": "The period of the financial statement expressed as a time interval.<br/><br/>Values are in the formats<br/>P<number>M; where <number> = the number of months the statement covers<br/>P<number>Y; where <number> = the number of years the statement covers"
												},
												"financialStatementFromDate": {
													"type": "string",
													"example": "2010-03-14",
													"description": "The date on which the accounting period of the Latest Financials' financial statement commenced."
												},
												"financialStatementToDate": {
													"type": "string",
													"example": "2011-03-14",
													"description": "The date when the accounting period of the Latest Financials' financial statement ended."
												},
												"informationScope": {
													"type": "object",
													"description": "The details of the organizational scope of the Latest Financials' financial statement.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Consolidated",
															"description": "Text providing a description of the organizational scope of the Latest Financials' financial statement. E.g. Individual, Consolidated."
														},
														"dnbCode": {
															"type": "integer",
															"example": 9067,
															"description": "A unique code assigned by Dun & Bradstreet to identify the organizational scope of the Latest Financials' financial statement."
														}
													},
													"additionalProperties": true
												},
												"informationSourceIndividual": {
													"type": "array",
													"description": "The details of the person who was the source of the information for the Financial Statement.",
													"items": {
														"properties": {
															"fullName": {
																"type": "string",
																"example": "John Smith",
																"description": "The name of the person who was the information source for the Financial Statement."
															},
															"title": {
																"type": "string",
																"example": "CFO",
																"description": "The title of the person who was the information source for the Financial Statement."
															}
														},
														"additionalProperties": true,
														"type": "object"
													}
												},
												"isAudited": {
													"type": "boolean",
													"example": true,
													"description": "Indicates if the Latest Financials' accounts have been reviewed by a qualified accountant independent of the organization and the accountant has signed the financial statement certifying it is accurate and complete."
												},
												"isAuditUnknown": {
													"type": "boolean",
													"example": false,
													"description": "Indicates that there is no information to make the determination whether the Latest Financials' financial statement has been reviewed by a qualified accountant."
												},
												"isFinal": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the financial figures are for the entity's closing statement. <br/><br/>- If true, the financial figures are for the entity's closing statement.<br/>- If false, the financial figures are not for the entity's closing statement."
												},
												"isFiscal": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the Latest Financials' financial figures cover a full year accounting period."
												},
												"isInterim": {
													"type": "boolean",
													"example": true,
													"description": "Indicates that the Latest Financials' financial statement covers an interim instead of a fiscal period (e.g., quarterly, half-year)."
												},
												"isOpening": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the financial figures declare the financial state of the business on its very first day of trading.<br/><br/>- If true, the financial figures declare the financial state of the business on its very first day of trading.<br/>- If false, the financial figures do not declare the financial state of the business on its very first day of trading."
												},
												"isProforma": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the financial statement is a presentation of a hypothetical balance sheet and income statement based on a set of assumptions.<br/><br/>- If true, the financial statement is a presentation of a hypothetical balance sheet and income statement based on a set of assumptions.<br/>- If false the financial statement is not a presentation of a hypothetical balance sheet and income statement based on a set of assumptions."
												},
												"isQualified": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the report of the auditors that accompanied the financial statement had remarks regarding the figures. Auditor remarks may, for example, refer to the fairness and accuracy of the figures or state that the financial well-being of the company is based on assumptions, such as the continued financial support by the parent company.<br/><br/>- If true, the auditors' report has remarks.<br/>- If false, the auditors' report does not have remarks."
												},
												"isRestated": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the Latest Financials' financial figures have been revised and re-presented by the organization."
												},
												"isSigned": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the Financial Statement information contains the signature(s) of the principal(s) of this entity signifying that it is approved.<br/><br/>- If true, the Financial Statement information contains the signature(s) of the principal(s) of this entity signifying that it is approved.<br/>- If false, the Financial Statement information does not contain the signature(s) of the principal(s) of this entity signifying that it is approved."
												},
												"isTrialBalance": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the financial statement is a Trial Balance.<br/><br/>- If true, the financial statement is a Trial Balance.<br/>- If false, the financial statement is not a Trial Balance."
												},
												"isUnbalanced": {
													"type": "boolean",
													"example": true,
													"description": "Indicates whether the balance sheet for the Latest Financials is unbalanced. The indicator should be set when the balance sheet does not balance."
												},
												"nonSpecificSource": {
													"type": "object",
													"description": "The details, in general terms, about the supplier of the Financial Statement.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Trustee",
															"description": "Describes the supplier of the Financial Statement (e.g., Official Registry, Accountant, the Subject)."
														},
														"dnbCode": {
															"type": "integer",
															"example": 15735,
															"description": "A unique code assigned by Dun & Bradstreet to identify, in general terms, the supplier from which this data was originally obtained by Dun & Bradstreet.<br/>Refer to Reference code table \"35 [Role Player Type Non-Specific]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"notAuditedReason": {
													"type": "object",
													"description": "The details identifying why the financial statement is not an official examination of the accounts.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Internally prepared book figures",
															"description": "Describes why the financial statement is not an official examination of the accounts (e.g., accounts from internal ledger with no external review, accountant limited review with no signature)."
														},
														"dnbCode": {
															"type": "integer",
															"example": 15657,
															"description": "A unique code assigned by Dun & Bradstreet to identify the reason why the accounts have not been audited.<br/>Refer to Reference code table \"400 [Financial Statement Not Audited Reasons]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"receivedTimestamp": {
													"type": "string",
													"example": "2018-04-06T16:33:21.443Z",
													"description": "The date and time of day, sometimes accurate to a small fraction of a second, when Dun & Bradstreet or one of Dun & Bradstreet's strategic partners received this financial statement."
												},
												"reliability": {
													"type": "object",
													"description": "The details of the integrity of the figures in the Latest Financials' financial statement.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Actual",
															"description": "Text providing a description of the integrity of the figures in the Latest Financials' financial statement."
														},
														"dnbCode": {
															"type": "integer",
															"example": 9092,
															"description": "A unique code assigned by Dun & Bradstreet to identify the integrity of the figures in the Latest Financials' financial statement.<br/>Refer to Reference code table \"171 [Reliability]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"statementTemplate": {
													"type": "object",
													"description": "The details of the structure and the order of financial line items of the Latest Financials' Financial Statement.",
													"properties": {
														"description": {
															"type": "string",
															"example": "Global - Standard",
															"description": "Text identifying the Latest Financials' Financial Statement Template."
														},
														"dnbCode": {
															"type": "integer",
															"example": 9050,
															"description": "A unique code assigned by Dun & Bradstreet to identify the Latest Financials' Financial Statement Template.<br/>Refer to Reference code table \"78 [Financial Statement Template]\" for all possible values."
														}
													},
													"additionalProperties": true
												},
												"units": {
													"type": "string",
													"example": "SingleUnits",
													"description": "The unit size (e.g., units, thousands, millions) in which the figures in the Latest Financials' financial statement are stated."
												},
												"overview": {
													"type": "object",
													"description": "The details for a select number of line items from the Latest Financials' financial statement.",
													"properties": {
														"accountsPayable": {
															"type": "number",
															"example": 512345,
															"description": "The money owed to individuals or organizations in the Latest Financials because they have supplied goods, services or raw materials for which they have not yet been paid. Also known as Trade Creditors."
														},
														"accountsReceivable": {
															"type": "number",
															"example": 2567890,
															"description": "The money owed by individuals or organizations in the Latest Financials because they have bought goods, services or raw materials for which they have not yet paid. Also known as Trade Debtors. Shown net of any allowance for bad debt"
														},
														"capitalStock": {
															"type": "number",
															"example": 0.26,
															"description": "The total par (face) value of all shares issued."
														},
														"cashAndLiquidAssets": {
															"type": "number",
															"example": 512345,
															"description": "The total value of cash for the Latest Financials held either on hand (e.g., in a bank) or in assets that can be quickly converted into cash and that have not been recorded elsewhere."
														},
														"costOfSales": {
															"type": "number",
															"example": 512345,
															"description": "The Latest Financials' costs (e.g., materials, labor, overheads) related to the creations of goods or services which have been sold."
														},
														"currentLiabilitiesOverNetWorth": {
															"type": "number",
															"example": 45.12,
															"description": "A ratio for the Latest Financials that measures the relationship between short-term creditors and liabilities of the organization and the internal equity investment. Calculated as Total Current Liabilities divided by Net Worth."
														},
														"currentRatio": {
															"type": "number",
															"example": 1.463,
															"description": "A ratio for the Latest Financials that measures whether the organization has enough resources to cover its short-term obligations. Calculated as Total Current Assets divided by Total Current Liabilities."
														},
														"dividends": {
															"type": "number",
															"example": 512345,
															"description": "The payment to principals or declared by a company's board of directors and given to its shareholders out of the entity's current or retained earnings."
														},
														"grossProfit": {
															"type": "number",
															"example": 512345,
															"description": "The difference between Sales Revenue and Cost of Sales before the deduction of selling, distribution, administration and other costs for the Latest Financials."
														},
														"intangibleAssets": {
															"type": "number",
															"example": 512345,
															"description": "Non-material assets held by the company for the Latest Financials."
														},
														"inventory": {
															"type": "number",
															"example": 512345,
															"description": "The physical stocks held for sale by the organization, including finished good, raw materials and work-in-progress for the Latest Financials."
														},
														"longTermDebt": {
															"type": "number",
															"example": 512345,
															"description": "The value of the organization's borrowings (e.g., loans, mortgages, hire purchases) for the Latest Financials which will mature in more than 12 months."
														},
														"netWorth": {
															"type": "number",
															"example": 512345,
															"description": "The sum of all capital and reserves for the Latest Financials. This is otherwise known as shareholders' funds or shareholders' equity."
														},
														"operatingProfit": {
															"type": "number",
															"example": 512345,
															"description": "The profit from business operations after operating expenses but before deduction of interest and taxes for the Latest Financials."
														},
														"otherCurrentAssets": {
															"type": "number",
															"example": 250000,
															"description": "Other current assets are things a company owns, benefits from, or uses to generate income that can be converted into cash within one business cycle."
														},
														"otherCurrentLiabilities": {
															"type": "number",
															"example": 512345,
															"description": "Liabilities classified as current, which can not be recorded in the specified current liability entries."
														},
														"otherLongTermLiabilities": {
															"type": "number",
															"example": 12500,
															"description": "Other Long-Term Liabilities means notes and other amounts payable to third parties, including vendors, arising from the conduct of the Business, whether or not in the ordinary course, together with any unpaid financing charges accrued thereon not due within one year."
														},
														"otherReceivables": {
															"type": "number",
															"example": 512345,
															"description": "The money owed by individuals or firms for reasons other than the purchase of goods, services or raw materials for which they have not yet paid. Also known as Other Debtors. Shown net of any allowance for bad debt"
														},
														"profitBeforeTaxes": {
															"type": "number",
															"example": 512345,
															"description": "The Latest Financials' disclosed profit before tax, which will reflect deductions for all operating and non-operating costs."
														},
														"quickRatio": {
															"type": "number",
															"example": 1.1872,
															"description": "A ratio for the Latest Financials that measures the extent to which the organization can cover its current liabilities with those current assets that are readily convertible to cash. Calculated by subtracting Inventory from Total Current Assets and dividing by Total Current Liabilities."
														},
														"retainedEarnings": {
															"type": "number",
															"example": 512345,
															"description": "The value of the accumulated net income of the organization for the Latest Financials which has been retained for use in the business."
														},
														"salesRevenue": {
															"type": "number",
															"example": 512345,
															"description": "The income generated from the sale of goods and services for the Latest Financials. This is dependent upon the volume of a product sold and the price of the product shown net of returns, allowances and discounts. Also known as Turnover."
														},
														"tangibleNetWorth": {
															"type": "number",
															"example": 512345,
															"description": "Net Worth less Intangible Assets for the Latest Financials."
														},
														"totalAssets": {
															"type": "number",
															"example": 512345,
															"description": "The combined value of Current Assets and Total Long Term Assets for the Latest Financials. This therefore includes all of the assets used by an organization no matter how they are financed."
														},
														"totalCurrentAssets": {
															"type": "number",
															"example": 512345,
															"description": "The sum of all Latest Financials' short-term assets i.e., expected to be realized in less than 12 months."
														},
														"totalCurrentLiabilities": {
															"type": "number",
															"example": 512345,
															"description": "The sum of all Latest Financials' short-term liabilities i.e., expected to be realized in less than 12 months"
														},
														"totalIndebtedness": {
															"type": "number",
															"example": 0.34,
															"description": "A financial ratio that measures the extent of the entity's leverage. The debt ratio is defined as the ratio of total, long-term and short-term, debt to total assets, expressed as a decimal. It can be interpreted as the proportion of an entity's assets that are financed by debt."
														},
														"totalLiabilities": {
															"type": "number",
															"example": 512345,
															"description": "The combined value of Total Long Term Liabilities and Total Current Liabilities for the Latest Financials. This is therefore the total value of all claims on the financial resources of the organization and obligations of payment."
														},
														"totalLiabilitiesEquity": {
															"type": "number",
															"example": 512345,
															"description": "The sum of Total Liabilities and Net Worth for the Latest Financials."
														},
														"totalLiabilitiesOverNetWorth": {
															"type": "number",
															"example": 45,
															"description": "A ratio for the Latest Financials that measures the relationship between all external creditors and liabilities of the organization and the internal equity investment. Calculated as Total Liabilities divided by Net Worth."
														},
														"totalLongTermAssets": {
															"type": "number",
															"example": 512345,
															"description": "The sum of all Latest Financials' long-term assets i.e., expected to be realized in more than 12 months."
														},
														"totalLongTermLiabilities": {
															"type": "number",
															"example": 512345,
															"description": "The total value of long- term claims on the financial resources of the organization for the Latest Financials."
														},
														"workingCapital": {
															"type": "number",
															"example": 512345,
															"description": "The operating liquidity available to an entity (i.e., the funds available to  finance current business operations)."
														},
														"marketableSecurities": {
															"type": "number",
															"example": 1500,
															"description": "Marketable securities are financial assets that can be easily bought and sold on a public market, such as stocks, bonds, and mutual funds. These securities are listed as assets on a company's balance sheet because they can be easily converted into cash."
														},
														"dueFromGroupShortTerm": {
															"type": "number",
															"example": 1500,
															"description": "Funds due from a related company or principal within the next fiscal year."
														},
														"totalReceivables": {
															"type": "number",
															"example": 1500,
															"description": "Total Receivables means the total amount of all trade receivables of the Group on a consolidated basis under any agreement in respect of the supply of assets or services."
														},
														"prepaidDeferredShortTerm": {
															"type": "number",
															"example": 1500,
															"description": "Deferred expenses, similar to prepaid expenses, refer to expenses that have been paid but not yet incurred by the business. Common prepaid expenses may include monthly rent or insurance payments that have been paid in advance."
														},
														"tangibleFixedAssets": {
															"type": "number",
															"example": 1500,
															"description": "The value of the assets that are long-lived property fully owned by the organisation and is used by the organisation in the production of its income but not expected to be converted to cash in the current or upcoming fiscal year, e.g., real estate, furinture, manufacturing equipment."
														},
														"dueFromGroupLongTerm": {
															"type": "number",
															"example": 1500,
															"description": "Funds due from a related company or principal due beyond the next fiscal year."
														},
														"investmentsLongTerm": {
															"type": "number",
															"example": 1500,
															"description": "Investments that mature in a long period of time, typically beyond the next fiscal year."
														},
														"otherLongTermAssets": {
															"type": "number",
															"example": 1500,
															"description": "The value of other assets which are held for the long term benefit of the business but which cannot be classed as Fixed (tangible) or Intangible. E.g. Investments"
														},
														"otherUnclassifiedAssets": {
															"type": "number",
															"example": 1500,
															"description": "Any asset not categorized as current or long term."
														},
														"accrualsOtherPayables": {
															"type": "number",
															"example": 1500,
															"description": "Accrued liabilities are liabilities which are incurred, but for which payment is not yet made, during a given accounting period."
														},
														"shortTermDebt": {
															"type": "number",
															"example": 1500,
															"description": "The money employed in a firm that has been borrowed from external sources for short periods of time by the issue of fixed-interest financial securities."
														},
														"dueToGroupShortTerm": {
															"type": "number",
															"example": 1500,
															"description": "Due to a related company or principal within the next fiscal year."
														},
														"taxesShortTerm": {
															"type": "number",
															"example": 1500,
															"description": "All tax & social obligations."
														},
														"dueToGroupLongTerm": {
															"type": "number",
															"example": 1500,
															"description": "Due to a related company or principal extended beyond the next fiscal year."
														},
														"deferredCreditIncome": {
															"type": "number",
															"example": 1500,
															"description": "Revenue received by a firm but not yet reported as income."
														},
														"deferredTaxesLongTerm": {
															"type": "number",
															"example": 1500,
															"description": "Refers to all deferred taxes, tax payable at a later date"
														},
														"provisions": {
															"type": "number",
															"example": 1500,
															"description": "Funds set aside for any future needs."
														},
														"otherUnclassifiedLiabilities": {
															"type": "number",
															"example": 1500,
															"description": "Any liability not categorized as current, long term or as a Mezzanine liability."
														},
														"capitalSurplus": {
															"type": "number",
															"example": 1500,
															"description": "The proceeds from issuing stocks or shares at a price higher than their par (face) value. Also known as share premium."
														},
														"capitalReserves": {
															"type": "number",
															"example": 1500,
															"description": "Excess capital set aside for future needs."
														},
														"otherUnrestrictedReserves": {
															"type": "number",
															"example": 1500,
															"description": "Funds set aside for any future needs."
														},
														"restrictedEquity": {
															"type": "number",
															"example": 1500,
															"description": "A portion of an entity's retained earnings or holdings that are not legally available for dividend payment or other non- discretionary use."
														},
														"otherEquity": {
															"type": "number",
															"example": 1500,
															"description": "Unclassified capital (equity) or re-statement of equity (adjustments)."
														},
														"minorityInterest": {
															"type": "number",
															"example": 1500,
															"description": "The proportion of outside ownership in subject's subsidiaries."
														},
														"profitAfterTax": {
															"type": "number",
															"example": 1500,
															"description": "The net profit attributable to the shareholders/stockholders of a firm after all costs and taxes have been deducted."
														},
														"netCurrentAssets": {
															"type": "number",
															"example": 1500,
															"description": "Net current assets is the aggregate amount of all current assets, minus the aggregate amount of all current liabilities. There should be a positive amount of net current assets on hand, since this implies that there are sufficient current assets to pay for all current obligations."
														}
													},
													"additionalProperties": true
												},
												"balanceSheet": {
													"type": "object",
													"description": "The details of the Latest Financials' balance sheet statement which summarizes the organization's assets, liabilities, and shareholder’s equity at a specific point in time.",
													"properties": {
														"assets": {
															"type": "object",
															"description": "The details of the assets on the balance sheet.",
															"properties": {
																"currentAssets": {
																	"type": "object",
																	"description": "Assets that are held for short term; raw materials that are bought, made up, sold as finished goods and eventually paid for.",
																	"properties": {
																		"statementItems": {
																			"type": "array",
																			"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																			"items": {
																				"properties": {
																					"itemGroupLevel": {
																						"type": "integer",
																						"example": 6,
																						"description": "Contains the code indicating the item's position in the financial statement hierarchy, e.g. it indicates if the item is a total, sub-total or item.<br/>The value of this element may be used to set offset positions (indents) by the product fabrication process."
																					},
																					"itemKey": {
																						"type": "object",
																						"description": "Details of the account for the monetary amount recorded in Item Amount.",
																						"properties": {
																							"description": {
																								"type": "string",
																								"example": "Equity Interests In Associated Companies",
																								"description": "Description of the account for the monetary amount recorded in Item Amount."
																							},
																							"dnbCode": {
																								"type": "integer",
																								"example": 584,
																								"description": "A unique code assigned by Dun & Bradstreet to identify the account for the monetary amount recorded in Item Amount.<br/>Refer to Reference code table \"33 [Financial Statement Item]\" for all possible values."
																							}
																						},
																						"additionalProperties": true
																					},
																					"priority": {
																						"type": "integer",
																						"example": 23,
																						"description": "Contains the order number in which items should be presented within the Financial Statement Schedule where the lower the number the earlier the data is presented. i.e. a display sequence number is a unique number within the schedule."
																					},
																					"value": {
																						"type": "number",
																						"example": 10584,
																						"description": "Monetary value of a Financial Statement Item."
																					}
																				},
																				"additionalProperties": true,
																				"type": "object"
																			}
																		}
																	},
																	"additionalProperties": true
																},
																"longTermAssets": {
																	"type": "object",
																	"description": "The details of the long-term asset items within the Latest Financials Balance Sheet i.e., items expected to be realized in more than 12 months.",
																	"properties": {
																		"statementItems": {
																			"type": "array",
																			"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																			"items": {
																				"properties": {
																					"itemGroupLevel": {
																						"type": "integer",
																						"example": 6,
																						"description": "Contains the code indicating the item's position in the financial statement hierarchy, e.g. it indicates if the item is a total, sub-total or item.<br/>The value of this element may be used to set offset positions (indents) by the product fabrication process."
																					},
																					"itemKey": {
																						"type": "object",
																						"description": "Details of the account for the monetary amount recorded in Item Amount.",
																						"properties": {
																							"description": {
																								"type": "string",
																								"example": "Equity Interests In Associated Companies",
																								"description": "Description of the account for the monetary amount recorded in Item Amount."
																							},
																							"dnbCode": {
																								"type": "integer",
																								"example": 584,
																								"description": "A unique code assigned by Dun & Bradstreet to identify the account for the monetary amount recorded in Item Amount.<br/>Refer to Reference code table \"33 [Financial Statement Item]\" for all possible values."
																							}
																						},
																						"additionalProperties": true
																					},
																					"priority": {
																						"type": "integer",
																						"example": 23,
																						"description": "Contains the order number in which items should be presented within the Financial Statement Schedule where the lower the number the earlier the data is presented. i.e. a display sequence number is a unique number within the schedule."
																					},
																					"value": {
																						"type": "number",
																						"example": 10584,
																						"description": "Monetary value of a Financial Statement Item."
																					}
																				},
																				"additionalProperties": true,
																				"type": "object"
																			}
																		}
																	},
																	"additionalProperties": true
																},
																"statementItems": {
																	"type": "array",
																	"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																	"items": {
																		"properties": {
																			"itemGroupLevel": {
																				"type": "integer",
																				"example": 6,
																				"description": "Contains the code indicating the item's position in the financial statement hierarchy, e.g. it indicates if the item is a total, sub-total or item.<br/>The value of this element may be used to set offset positions (indents) by the product fabrication process."
																			},
																			"itemKey": {
																				"type": "object",
																				"description": "Details of the account for the monetary amount recorded in Item Amount.",
																				"properties": {
																					"description": {
																						"type": "string",
																						"example": "Equity Interests In Associated Companies",
																						"description": "Description of the account for the monetary amount recorded in Item Amount."
																					},
																					"dnbCode": {
																						"type": "integer",
																						"example": 584,
																						"description": "A unique code assigned by Dun & Bradstreet to identify the account for the monetary amount recorded in Item Amount.<br/>Refer to Reference code table \"33 [Financial Statement Item]\" for all possible values."
																					}
																				},
																				"additionalProperties": true
																			},
																			"priority": {
																				"type": "integer",
																				"example": 23,
																				"description": "Contains the order number in which items should be presented within the Financial Statement Schedule where the lower the number the earlier the data is presented. i.e. a display sequence number is a unique number within the schedule."
																			},
																			"value": {
																				"type": "number",
																				"example": 10584,
																				"description": "Monetary value of a Financial Statement Item."
																			}
																		},
																		"additionalProperties": true,
																		"type": "object"
																	}
																}
															},
															"additionalProperties": true
														},
														"liabilities": {
															"type": "object",
															"description": "The legal debts or obligations of a company that arise during the course of business operations. Liabilities are settled over time through the transfer of economic benefits including money, goods, or services.",
															"properties": {
																"currentLiabilities": {
																	"type": "object",
																	"description": "The details of the entity's total value of all obligations to pay out cash at some date in the near future.",
																	"properties": {
																		"statementItems": {
																			"type": "array",
																			"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																			"items": {
																				"properties": {
																					"itemKey": {
																						"type": "object",
																						"description": "Details of the account for the monetary amount recorded in Item Amount.",
																						"properties": {
																							"description": {
																								"type": "string",
																								"example": "Equity Interests In Associated Companies",
																								"description": "Description of the account for the monetary amount recorded in Item Amount."
																							},
																							"dnbCode": {
																								"type": "integer",
																								"example": 584,
																								"description": "A unique code assigned by Dun & Bradstreet to identify the account for the monetary amount recorded in Item Amount.<br/>Refer to Reference code table \"33 [Financial Statement Item]\" for all possible values."
																							}
																						},
																						"additionalProperties": true
																					},
																					"value": {
																						"type": "number",
																						"example": 10584,
																						"description": "Monetary value of a Financial Statement Item."
																					}
																				},
																				"additionalProperties": true,
																				"type": "object"
																			}
																		}
																	},
																	"additionalProperties": true
																},
																"longTermLiabilities": {
																	"type": "object",
																	"description": "The details of the entity's total value of all obligations to pay out cash at some date in the future but not within one year.",
																	"properties": {
																		"statementItems": {
																			"type": "array",
																			"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																			"items": {
																				"properties": {
																					"itemKey": {
																						"type": "object",
																						"description": "Details of the account for the monetary amount recorded in Item Amount.",
																						"properties": {
																							"description": {
																								"type": "string",
																								"example": "Equity Interests In Associated Companies",
																								"description": "Description of the account for the monetary amount recorded in Item Amount."
																							},
																							"dnbCode": {
																								"type": "integer",
																								"example": 584,
																								"description": "A unique code assigned by Dun & Bradstreet to identify the account for the monetary amount recorded in Item Amount.<br/>Refer to Reference code table \"33 [Financial Statement Item]\" for all possible values."
																							}
																						},
																						"additionalProperties": true
																					},
																					"value": {
																						"type": "number",
																						"example": 10584,
																						"description": "Monetary value of a Financial Statement Item."
																					}
																				},
																				"additionalProperties": true,
																				"type": "object"
																			}
																		}
																	},
																	"additionalProperties": true
																},
																"equity": {
																	"type": "object",
																	"description": "The details of the share capital/stock originally invested by shareholders/stockholders plus any reserves that have arisen, such as retained profits, that were ploughed back into the firm. Also known as Net Worth.",
																	"properties": {
																		"statementItems": {
																			"type": "array",
																			"description": "Financial details for a specific schedule within the Financial Statement in terms of monetary amounts.",
																			"items": {
																				"properties": {
																					"itemGroupLevel": {
																						"type": "integer",
																						"example": 6,
																						"description": "Contains the code indicating the item's position in the financial statement hierarchy, e.g. it indicates if the item is a total, sub-total or item.<br/>The value of this element may be used to set offset positions (indents) by the product fabrication process."
																					},
																					"itemKey": {
																						"type": "object",
[...]
